<div class="qmialert" *ngIf="alert">
    <div #qmialert class="alert alert-dismissible fade show" [ngClass]="alert.type" role="alert">
        <h4 class="alert-heading">
            <span *ngIf="alert.type === 'alert-dark'" class="fa fa-info-circle"></span>
            <span *ngIf="alert.type === 'alert-danger'" class="fa fa-warning"></span>
            <span>&nbsp;&nbsp;{{alert.type === 'alert-dark'? 'Done!' : 'Oops!'}}</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
        <hr>
        <h6 class="alert-heading">
            <span [innerHTML]="alert.text"></span>
        </h6>     
    </div>
</div>
