<!--Content-->
<div class="modal-content text-center">
    <!--Header-->
    <div class="modal-header d-flex justify-content-center">
      <p class="heading" [innerHTML]="info.title"></p>
    </div>

    <!--Body-->
    <div class="modal-body">
      
      <mdb-icon fas icon="{{info.icon}}" size="4x" class="animated rotateIn"></mdb-icon>
      
      
      <div *ngIf="provision && provision.statusVms === 'Running'">
        <div *ngIf="provision.scenario !== 'awsqmi-rds' && provision.scenario !== 'azqmi-synapse'">
          <p *ngIf="!provision.schedule || provision.schedule.is24x7">
            <br>
            <i><mdb-icon fas icon="info-circle"></mdb-icon> You'll have a period of <b>{{provision.isExternalAccess? '10' : '20'}} days</b> to startup VMs before scenario is destroyed</i>
          </p>
          <div style="text-align: left;" *ngIf="provision.schedule && provision.schedule.isStartupTimeEnable && !provision.schedule.is24x7">
            <p>
              <br>
              <i><mdb-icon fas icon="info-circle"></mdb-icon> As scheduled, next startup will be at <b>{{provision.schedule.localeStartupTime}}h</b> ({{provision.schedule.localTimezone}})</i>
            </p>
            <section style="padding-left: 20px;padding-top: 5px;font-style: italic;">
              <mdb-checkbox [default]="true" [checked]="isStartupTimeEnable" (change)="checkOnchange($event)">Keep schedule?</mdb-checkbox>
            </section>
          </div>
        </div>
        <div *ngIf="provision.scenario === 'awsqmi-rds'">
          <p>
            <br>
            <i><mdb-icon fas icon="info-circle"></mdb-icon> This will just <b>temporary stop</b> this database instance <b>only for 7 days</b>, then it will auto restart. You can restart at any point.</i>
          </p>
        </div>
        <div *ngIf="provision.scenario === 'azqmi-synapse'">
          <p>
            <br>
            <i><mdb-icon fas icon="info-circle"></mdb-icon> This will stop this database instance. You can restart it at any point though. </i>
          </p>
        </div>
      </div>

      <div *ngIf="provision && provision.statusVms === 'Stopped'">
        <div *ngIf="provision.scenario !== 'awsqmi-rds' && provision.scenario !== 'azqmi-synapse'">
          <p *ngIf="!provision.schedule || provision.schedule.is24x7">
            <br>
            <i><mdb-icon fas icon="info-circle"></mdb-icon>VMs will run nonstop during the next 7 days. Then, they'll auto-shutdown if you don't renew 24x7 period</i>
          </p>
          <p *ngIf="provision.schedule && !provision.schedule.is24x7">
            <br>
            <i><mdb-icon fas icon="info-circle"></mdb-icon> As scheduled, next shutdown will be at <b>{{provision.schedule.localeShutdownTime}}h</b> ({{provision.schedule.localTimezone}})</i>
          </p>
        </div>
        <div *ngIf="provision.scenario === 'awsqmi-rds' || provision.scenario === 'azqmi-synapse'">
          <p>
            <br>
            <i><mdb-icon fas icon="info-circle"></mdb-icon> Be cost-conscious and stop this intance when you are done using it. </i>
          </p>
        </div>
      </div>

    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
      <a type="button" mdbBtn color="{{info.buttonColor}}" size="sm" outline="true" class="waves-effect" mdbWavesEffect (click)="modalRef.hide()">No</a>
      <a type="button" mdbBtn color="{{info.buttonColor}}" size="sm" class="waves-effect" data-dismiss="modal" (click)="confirm();"  mdbWavesEffect>Yes</a>
    </div>
</div>
  <!--/.Content-->