<!--Content-->
<div class="modal-content" *ngIf="user">
  <div class="modal-header text-center">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100 font-weight-bold">
      <span>{{user.displayName}} <a style="padding-left: 7px;"
          *ngIf="currentUser.role === 'superadmin' && user && user._id" target="_blank"
          href='/mongo/db/qmicloud/users/"{{user._id}}"' class="lui-text-info"><i class="fas fa-database"></i></a></span>
    </h4>
  </div>
  <div class="modal-body" style="max-height: 550px; overflow: auto;">

    <div class="row" style="margin:0">
      <div class="col-md-6">
        <img src="/photos/user/{{user.oid}}" (error)="onImgError($event, user)"
          style="border: 1px solid #ccc;width: 120px;" />
        <button style="margin-left: 10px;" class="lui-button  lui-button--gradient" (click)="refreshPicture()"><i
            class="fa fa-refresh"></i></button>
      </div>

      <div class="col-md-6">
        <b>_id</b>: {{user._id}}<br>
        <b>upn</b>: {{user.upn}} / {{user.mail}}<br>
        <b>oid</b>: {{user.oid}}<br>
        <b>sub</b>: {{user.sub}}
      </div>
    </div>

    <div class="needs-validation">

      <div class="row" style="margin:0">
        <div class="col-md-6 md-form" *ngIf="currentUser && (currentUser.role === 'superadmin')">
          <input mdbInput type="text" name="text" [(ngModel)]="sendData.displayName" id="name" class="form-control"
            required>
          <label for="name" class="">Name:</label>
        </div>

        <div class="col-md-6 md-form">
          <input mdbInput type="text" name="text" [(ngModel)]="sendData.active" id="active" class="form-control"
            required>
          <label for="active" class="">Is active? (true | false):</label>
        </div>
      </div>

      <div class="row" style="margin:0">


        <div class="col-md-6  md-form" *ngIf="currentUser && (currentUser.role === 'superadmin')">
          <input mdbInput type="text" name="text" [(ngModel)]="sendData.jobTitle" id="jobtitle" class="form-control"
            required>
          <label for="jobtitle" class="">Job title:</label>
        </div>

        <div class="col-md-6"
          *ngIf="currentUser && (currentUser.role === 'superadmin' || currentUser.role === 'admin' ) && currentUser._id !== user._id">
          <section style="padding: 20px 0px;">
            <label>QMI role (*):</label>
            <select class="browser-default custom-select custom-select-sm" [(ngModel)]="selectedRole">
              <option *ngFor="let item of roles" [value]="item">{{item}}</option>
            </select>
          </section>
        </div>

      </div>

      <div class="md-form">
        <div><label>Okta groups:</label><br><br>

          <div *ngIf="user.msGroups" style="display: flex; flex-wrap: wrap;">
            <div class="myflexitem" *ngFor="let g of user.msGroups;">
              <span>
                <span class="badge badge-light" style="border: 1px solid #ccc;">{{g}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="md-form">
        <input mdbInput type="text" name="text" [(ngModel)]="sendData.flags" id="name2" class="form-control" required>
        <label for="name2" class="">Feature Flags:</label>
      </div>

    </div>
  </div>

  <div class="modal-footer d-flex justify-content-center">
    <button style="margin-right: 100px;" *ngIf="sendData._id" mdbBtn color="danger" outline="true" class="waves-light"
      size="sm" mdbWavesEffect (click)="delete();">Delete</button>
    <button mdbBtn color="dark-green" size="sm" outline="true" class="waves-effect" mdbWavesEffect
      (click)="modalRef.hide()">Cancel</button>
    <button mdbBtn color="dark-green" class="waves-light" size="sm" mdbWavesEffect (click)="confirm();">Save</button>
  </div>
</div>
<!--/.Content-->