<!--Content-->
<div class="modal-content">
    <div class="modal-header text-center">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold">Edit scenario <a style="padding-left: 7px;" *ngIf="currentUser.role === 'superadmin' && sendData && sendData._id" target="_blank" href='/mongo/db/qmicloud/scenarios/"{{sendData._id}}"' class="lui-text-info"><i class="fas fa-database"></i></a></h4>
    </div>
    <div class="modal-body" style="max-height: 650px; overflow: auto;">
        <div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.name" id="name1" class="form-control">
            <label for="name1" class="">Name *:</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.version" id="version1" class="form-control">
            <label for="version1" class="">Version *:</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.title" id="title1" class="form-control">
            <label for="title1" class="">Title *:</label>
          </div>
          <div class="md-form">
            <textarea mdbInput type="text" [(ngModel)]="sendData.description" id="desc1" class="md-textarea form-control"></textarea>
            <label for="desc1">Description * (HTML is allowed):</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="labels" id="tags1" class="form-control">
            <label for="tags1" class="">Labels (comma separated):</label>
          </div>
          <div class="md-form">
            <input mdbInput type="number" name="text" [(ngModel)]="sendData.numSimultaneousProvisions" id="sim1" class="form-control">
            <label for="sim1" class="">Num. simultaneus provisions:</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="support" id="support1" class="form-control">
            <label for="support1" class="">Support (emails comma separated):</label>
          </div>
          <!--<section style="padding: 20px 0px;">
            <label>Deploy options (*):</label>
            <select class="browser-default custom-select custom-select-sm" [(ngModel)]="selectedSubscription">
              <option *ngFor="let item of subscriptions" [value]="item._id">{{item.description}}</option>
            </select>
          </section>-->
          <section style="padding: 20px 0px;">
            <label>Deploy options (*):</label>
            <select class="custom-select" multiple [(ngModel)]="selectedDeployOpts">
              <option value="{{item._id}}" *ngFor="let item of subscriptions"><span [innerHTML]="getFlagName(item)"></span></option>
            </select>
          </section>
          <section style="padding: 20px 0px;">
            <label>Provision options (*):</label>
            <pre style="border: 1px solid #ccc;" contenteditable="true" (blur)="updateJson($event, 'availableProductVersions')">{{sendData.availableProductVersions | json}}</pre>      
          </section>
          <section style="padding: 20px 0px; margin: 0px 20px">
            <mdb-checkbox (change)="checkOnchange($event, 'isAdminOnly')" [checked]="sendData.isAdminOnly" [default]="false"><mdb-icon fas icon="lock" class="grey-text" aria-hidden="true"></mdb-icon> Only for Administrators?</mdb-checkbox>
          </section>
          <section *ngIf="!sendData.isAdminOnly">
            <label>Or, Administrators and selected users:</label>
            <select class="custom-select" multiple [(ngModel)]="selectedAllowedUsers">
              <option value="{{user._id}}" *ngFor="let user of allUsers">{{user.displayName}}{{!user.active? ' (inactive)' : ''}}</option>
            </select>
            <div style="font-size: 10px;">
              <i *ngFor="let u of selectedAllowedUsersObjects">{{u.displayName}}; </i>
            </div>
          </section>
          <section style="padding: 20px 0px; margin: 0px 20px">
            <mdb-checkbox (change)="checkOnchange($event, 'isExternal')" [checked]="sendData.isExternal" [default]="false"><mdb-icon fas icon="globe-americas" class="grey-text" aria-hidden="true"></mdb-icon> With External Access?</mdb-checkbox>
          </section>
          <section style="padding: 20px 0px; margin: 0px 20px" *ngIf="sendData.isExternal">
            <mdb-checkbox (change)="checkOnchange($event, 'forceExternalAccess')" [checked]="sendData.forceExternalAccess" [default]="false"><mdb-icon fas icon="globe-americas" class="grey-text" aria-hidden="true"></mdb-icon> Force External Access Only</mdb-checkbox>
          </section>
          <section style="padding: 20px 0px; margin: 0px 20px">
            <mdb-checkbox (change)="checkOnchange($event, 'isDivvyEnabled')" [checked]="sendData.isDivvyEnabled" [default]="false"><mdb-icon fas icon="clock" class="grey-text" aria-hidden="true"></mdb-icon> Enable DivvyCloud Tags?</mdb-checkbox>
          </section>
          <section style="padding: 20px 0px; margin: 0px 20px">
            <mdb-checkbox (change)="checkOnchange($event, 'isWafPolicyAppGw')" [checked]="sendData.isWafPolicyAppGw" [default]="false"><mdb-icon fas icon="fire-extinguisher" class="grey-text" aria-hidden="true"></mdb-icon> Apply WAF policy after provision?</mdb-checkbox>
          </section>
          <!--<section style="padding: 20px 0px; margin: 0px 20px">
            <mdb-checkbox (change)="checkOnchange($event, 'isVnetIsolated')" [checked]="sendData.isVnetIsolated" [default]="false"><mdb-icon fas icon="network-wired" class="grey-text" aria-hidden="true"></mdb-icon> Isolated Vnet (secure)?</mdb-checkbox>
          </section>-->
          <section style="padding: 20px 0px; margin: 0px 20px">
            <mdb-checkbox (change)="checkOnchange($event, 'isDisabled')" [checked]="sendData.isDisabled" [default]="false"><mdb-icon fas icon="times-circle" class="grey-text" aria-hidden="true"></mdb-icon> Is disabled?</mdb-checkbox>
          </section>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.newImageName" id="image1" class="form-control">
            <label for="image1" class="">New Image Name (only for GEN scenarios):</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.terraformImage" id="terraformImage1" class="form-control">
            <label for="terraformImage1" class="">Terraform Image (leave blank for default):</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.gitBranch" id="gitbranch1" class="form-control">
            <label for="gitbranch1" class="">Git branch (leave blank for default):</label>
          </div>
        </div>
    </div>
    
    <div class="modal-footer d-flex justify-content-center">
      <button style="margin-right: 100px;" *ngIf="sendData._id" mdbBtn color="danger" outline="true" class="waves-light" size="sm" mdbWavesEffect (click)="delete();">Delete</button>
      <button mdbBtn color="dark-green" size="sm" outline="true" class="waves-effect" mdbWavesEffect (click)="modalRef.hide()">Cancel</button>
      <button mdbBtn color="dark-green" class="waves-light" size="sm" mdbWavesEffect (click)="confirm();">Save</button>
    </div>
</div>
<!--/.Content-->