<!--Content-->
<div class="modal-content">
    <div class="modal-header text-center">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold">Edit Deploy Opts</h4>
    </div>
    <div class="modal-body" style="max-height: 650px; overflow: auto;">
        <div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.subsId" id="name1" class="form-control">
            <label for="name1" class="">Subscription ID (*):</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.description" id="title1" class="form-control">
            <label for="title1" class="">Description (*):</label>
          </div>
          <section style="padding: 20px 20px;">
            <mdb-checkbox (change)="checkOnchange($event, 'vnetExists')" [checked]="sendData.vnetExists" [default]="false"> <mdb-icon fas icon="network-wired" class="grey-text" aria-hidden="true"></mdb-icon> Use subnets in VNet?</mdb-checkbox>
            <br>(<i>Check to use existing VNet subnets</i>)
          </section>
          <div *ngIf="sendData.vnetExists" class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.location" id="location" class="form-control">
            <label for="location" class="">Location (*):</label>
          </div>
          <div *ngIf="sendData.vnetExists" class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.subnetId" id="subnet1" class="form-control">
            <label for="subnet1" class="">Subnet Id (*):</label>
          </div>
          <div *ngIf="sendData.vnetExists" class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.appGwSubnetId" id="appsubnet1" class="form-control">
            <label for="appsubnet1" class="">AppGw Subnet Id (*):</label>
          </div>
        </div>
    </div>
    
    <div class="modal-footer d-flex justify-content-center">
      <button style="margin-right: 100px;" *ngIf="sendData._id" mdbBtn color="danger" outline="true" class="waves-light" size="sm" mdbWavesEffect (click)="delete();">Delete</button>
      <button mdbBtn color="dark-green" size="sm" outline="true" class="waves-effect" mdbWavesEffect (click)="modalRef.hide()">Cancel</button>
      <button mdbBtn color="dark-green" class="waves-light" size="sm" mdbWavesEffect (click)="confirm();">Save</button>
    </div>
</div>
<!--/.Content-->