<!--Content-->
<div class="modal-content">
    <div class="modal-header text-center">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold">Edit webhook <a style="padding-left: 7px;"
                *ngIf="currentUser.role === 'superadmin' && sendData && sendData._id" target="_blank"
                href='/mongo/db/qmicloud/webhooks/"{{sendData._id}}"' class="lui-text-info"><i class="fas fa-database"></i></a>
        </h4>
    </div>
    <div class="modal-body" style="max-height: 650px; overflow: auto;" *ngIf="sendData">
        <div>

            <div class="row">
                <div class="col-md-6">
                    <section style="padding: 20px 0px; margin: 0px 20px">
                        <mdb-checkbox (change)="checkOnchange($event, 'isEnabled')" [checked]="sendData.isEnabled"
                            [default]="false"><mdb-icon fas icon="clock" class="grey-text"
                                aria-hidden="true"></mdb-icon> Is
                            enabled?</mdb-checkbox>
                    </section>
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <section style="padding: 20px 0px;">
                        <label>Event Type (*):</label>
                        <select class="custom-select" [(ngModel)]="sendData.eventType">
                            <option value="" selected disabled>-- Select --</option>
                            <option value="{{item}}" *ngFor="let item of eventTypes"><span [innerHTML]="item"></span>
                            </option>
                        </select>
                    </section>
                </div>
                <div class="col-md-6">
                    <div class="md-form">
                        <input mdbInput type="text" name="text" [(ngModel)]="sendData.name" id="name1"
                            class="form-control">
                        <label for="name1" class="">Name *:</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="md-form">
                        <input mdbInput type="text" name="text" [(ngModel)]="sendData.url" id="version1"
                            class="form-control">
                        <label for="version1" class="">POST Url *:</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <section style="padding: 20px 0px;">
                        <label>Headers (*):</label>
                        <pre style="border: 1px solid #ccc;" contenteditable="true"
                            (blur)="updateJson($event, 'headers')">{{sendData.headers | json}}</pre>
                    </section>
                </div>
            </div>






            <section style="padding: 20px 0px;">
                <label>Scenario (optional):</label>
                <select class="custom-select" [(ngModel)]="sendData.scenario">
                    <option value="" selected>-- All --</option>
                    <option value="{{item.name}}" *ngFor="let item of scenarios"><span [innerHTML]="item.name"></span>
                    </option>
                </select>
            </section>
        </div>
    </div>

    <div class="modal-footer d-flex justify-content-center">
        <button style="margin-right: 100px;" *ngIf="sendData._id" mdbBtn color="danger" outline="true"
            class="waves-light" size="sm" mdbWavesEffect (click)="delete();">Delete</button>
        <button mdbBtn color="dark-green" size="sm" outline="true" class="waves-effect" mdbWavesEffect
            (click)="modalRef.hide()">Cancel</button>
        <button mdbBtn color="dark-green" class="waves-light" size="sm" mdbWavesEffect
            (click)="confirm();">Save</button>
    </div>
</div>
<!--/.Content-->