label {
    position: relative;
    font-weight: bold;
}

.md-form {
    margin-top: 0px;
    margin-bottom: 0px;
}

.utc {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 12px
}

.disabled {
    opacity: 0.2;
}