.modal-body {
    max-height: 600px;
    overflow: auto;
}

.mydata {
    font-family: 'Courier New', Courier, monospace;
}

.info-subtitle {
    padding-top: 10px; 
    text-align: center;
    text-decoration: underline;
}

.linethrough {
    text-decoration: line-through;
}

td {
    font-size: 14px !important;
}

h3 {
  color: #19426c;
}

.card {
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: none;
}

.table {
    td {
        vertical-align: middle;
    }
}

hr {
  margin: 5px 0px;
}
  
.card-title {
    margin-bottom: 0px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f0f0f0;
}

.card-body {
    overflow: auto;
}

.qmiflag {
  width: 25px; 
  position: absolute; 
  top: 5px; 
  right: 5px; 
  border-radius: 2px; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px 0.5px;
}

.contentbox {
  position: relative;
}
.box {
    margin-bottom: 15px;
    background: white;
    /*flex-grow: 1;*/
    min-height: 100px;
    /*width: 340px;*/
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0.2rem 0.6rem 0px;
    border-radius: 8px;
    position: relative;
    
  
    .title {
      &.desc {
        height: 42px;
        max-height: 42px;
        min-height: 42px;
      }
      padding: 10px;
      min-height: 66px;
      background: rgba(84,86,90, 0.2);
      color: #595959;
      border-top-left-radius: 8px; 
      border-top-right-radius: 8px; 
     
      .subtitle {
        font-weight: bold;
        font-size: 16px;
        text-overflow: ellipsis;
        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
      }
  
      &.queued,
      &.initializing,
      &.provisioning {
        background: rgba(84,86,90, 0.2);
      }
  
      &.provisioned {
        &.Stopped,
        &.Starting {
          background: rgba(84,86,90, 0.2);
        }
      }
      &.error {
        background: rgba(231, 0, 76, 0.3);
      }
  
      &.error_init {
        background: rgba(231, 0, 76, 0.3);
      }
  
      &.error_plan {
        background: rgba(231, 0, 76, 0.3);
      }
  
      &.destroyed {
        background: rgba(84,86,90, 0.2);
      }
    }
  
    .contentbox {
      padding: 10px;
    }
  
    .buttons {
      padding: 10px;
      width: 100%;
      position: absolute;
      bottom: 0px;
      .compact {
        width: calc(80% - 5px);
        margin-right: 5px;
      }
    }

    .newversion {
        font-weight: bold;
        font-size: 10px;
        margin-left: 8px;
        padding: 2px;
        background: #fff;
    }
  }