<div class="modal-content" >
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
        </button>
        <h3 style="text-align: center;" class="modal-title w-100" *ngIf="info">
            {{info.description}}
            <div style="font-size: 16px;">{{info._id}} 
              <a target="_blank" href="/provision/{{info._id}}" class="lui-text-info"><i class="fas fa-external-link-alt"></i></a>
              <a style="padding-left: 7px;" *ngIf="currentUser.role === 'superadmin'" target="_blank" href='/mongo/db/qmicloud/provisions/"{{info._id}}"' class="lui-text-info"><i class="fas fa-database"></i></a>
            </div>
        </h3>
    </div>
    <div class="modal-body" *ngIf="info">
        

        <div class="row align-items-start">
            
            <div class="col-6">

                <div class="box" >
                    <div class="title {{ info.status }} {{ (!info.isDestroyed) ? info.statusVms : 'destroyed' }}">
                      <div class="maintitle">
                        <span *ngIf="info._scenarioDoc">{{
                          info._scenarioDoc.title
                        }}</span>
                      </div>
                      <div>
                        {{ info.scenario }} (v{{ info.scenarioVersion }})
                        <span
                          *ngIf="
                            info.scenarioVersion !== info._scenarioDoc.version
                          "
                          class="text-danger newversion"
                          >New version available!</span
                        >
                      </div>
                    </div>
                    <div class="contentbox">
                      <img class="qmiflag" src="../../assets/flags/{{getFlag(info)}}.svg" mdbTooltip="{{info.deployOpts.location}}" />     
                      <div *ngIf="!info.isDestroyed && info.statusVms" style="margin: 0px 0px 5px 0px;">
                        <span>
                          <span
                            style="font-size: 12px;text-transform: uppercase;"
                            class="badge badge-secondary"
                            [ngClass]="{
                              'badge-success': info.statusVms === 'Running',
                              'badge-warning':
                                info.statusVms === 'Stopped' ||
                                info.statusVms === 'Stopping' ||
                                info.statusVms === 'Starting'
                            }"
                            >{{ info.statusVms }}</span
                          >
                          <span
                            *ngIf="
                              info.statusVms === 'Starting' ||
                              info.statusVms === 'Stopping'
                            "
                            class="spinner-border spinner-border-sm text-warning"
                            role="status"
                          >
                            <span class="sr-only"></span>
                          </span>
                        </span>
                        <span
                          *ngIf="
                            info.scenario !== 'azqmi-synapse' &&
                            info.statusVms === 'Stopped'
                          "
                        >
                          (for {{ info.inactiveAsDays }})</span
                        >
                      </div>
                      <hr *ngIf="!info.isDestroyed && info.statusVms">
                      <div
                        *ngIf="
                          (info.vmImage && info.vmImage.vm1) ||
                          (info.options && info.options.vm1)
                        "
                      >
                        <div *ngIf="info.statusVms">
                          <mdb-icon fas icon="play-circle"></mdb-icon> Accumulated Running
                          Time:
                          <span style="font-weight: bold">{{
                            info.runningAsDays
                          }}</span>
                        </div>
                        <div *ngIf="!info.isDestroyed && info.schedule && !info.schedule.is24x7">
                          <span
                            mdbTooltip="{{
                              !info.schedule.isStartupTimeEnable
                                ? 'Scheduled startup deactivated. Re-enable it in the schedule panel.'
                                : ''
                            }}"
                            [ngClass]="{
                              linethrough: !info.schedule.isStartupTimeEnable
                            }"
                            *ngIf="info.statusVms === 'Stopped'"
                          >
                            <mdb-icon fas icon="clock"></mdb-icon> VMs startup scheduled
                            at <b>{{ info.schedule.localeStartupTime }}h</b> ({{
                              info.schedule.localTimezone
                            }})
                          </span>
                          <span *ngIf="info.statusVms === 'Running'">
                            <mdb-icon fas icon="clock"></mdb-icon> VMs shutdown scheduled
                            at <b>{{ info.schedule.localeShutdownTime }}h</b> ({{
                              info.schedule.localTimezone
                            }})
                          </span>
                        </div>
                        <div
                          *ngIf="!info.isDestroyed && 
                            (info.statusVms === 'Running' ||
                              info.statusVms === 'Stopping') &&
                            !info.runForever
                          "
                        >
                          <div *ngIf="!info.schedule || info.schedule.is24x7">
                            VMs will run <b>nonstop</b> for
                            <b>{{ info.autoshutdownAsDays }}</b
                            ><span *ngIf="info.status === 'provisioned'">
                              -
                              <a
                                mdbTooltip="Renew 24x7 period"
                                href
                                (click)="openConfirmExtendModal($event, provision)"
                              >
                                <mdb-icon fas icon="redo-alt"></mdb-icon> </a
                            ></span>
                          </div>
                        </div>
                        <div
                          *ngIf="!info.isDestroyed && 
                            (info.statusVms === 'Stopped' ||
                              info.statusVms === 'Starting') &&
                            !info.runForever
                          "
                        >
                          <span
                            *ngIf="
                              !info.schedule ||
                              info.schedule.is24x7 ||
                              (info.schedule &&
                                !info.schedule.is24x7 &&
                                !info.schedule.isStartupTimeEnable)
                            "
                          >
                            <mdb-icon fas icon="times-circle"></mdb-icon> Scheduled
                            auto-destroy in ~
                            <b>{{ info.autoDestroyAsDays }}</b>
                          </span>
                        </div>
                        
                        
                      </div>
                      <div *ngIf="info.forcedDestroyAsDays">
                        <div >
                            <span>
                                <mdb-icon fas icon="times-circle"></mdb-icon> Forced destroy in ~ <b>{{info.forcedDestroyAsDays}}</b>
                            </span>
                        </div>
                      </div>
                      <div *ngIf="costData" style="margin: 5px 0px;">
                        <b>{{getCost(info._id)}} spent <span *ngIf="!info.isDestroyed">so far</span></b>
                      </div>
                      <hr />
                      <div>
                        Provision ({{ info.created | date: "MMM dd, yyyy - H:mm" }}) -
                        <span>
                          <span
                            style="text-transform: uppercase"
                            class="badge badge-secondary"
                            [ngClass]="{
                              'badge-warning':
                                info.status === 'provisioning' ||
                                info.status === 'initializing',
                              'badge-success': info.status === 'provisioned',
                              'badge-danger':
                                info.status === 'error' ||
                                info.status === 'error_init' ||
                                info.status === 'error_plan'
                            }"
                            >{{ info.status }}</span
                          >
                          <span
                            *ngIf="
                              info.status === 'provisioning' ||
                              info.status === 'initializing'
                            "
                            class="spinner-border spinner-border-sm text-warning"
                            role="status"
                          >
                            <span class="sr-only"></span>
                          </span>
                        </span>
                
                      </div>
                      <div style="padding-top: 15px;" *ngIf="info.status === 'error'">
                        I fixed it myself, make it a Successful provision.  
                        <button mdbTooltip="Change provision status" style="margin-left: 5px;" class="lui-button" (click)="openModalChangeSuccess(info)">
                            <span class="lui-icon lui-icon--tick" aria-hidden="true"></span>
                        </button>
                      </div>
                      <div *ngIf="info.destroy">
                        Destroy ({{ info.destroy.created | date: "MMM dd, yyyy - H:mm" }}) -
                        <span>
                          <span
                            style="text-transform: uppercase"
                            class="badge badge-secondary"
                            [ngClass]="{
                              'badge-warning': info.destroy.status === 'destroying',
                              'badge-success': info.destroy.status === 'destroyed',
                              'badge-danger': info.destroy.status === 'error'
                            }"
                            >{{ info.destroy.status }}</span
                          >
                          <span
                            *ngIf="info.destroy.status === 'destroying'"
                            class="spinner-border spinner-border-sm text-warning"
                            role="status"
                          >
                            <span class="sr-only"></span>
                          </span>
                        </span>
                        
                        
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <h4 class="card-title">Provision options</h4>
                    <div class="card-body">
                        <div>
                            <mdb-icon fas icon="map-marker-alt"></mdb-icon> {{info.deployOpts.description}}
                          </div>
                        <div *ngIf="info.schedule">
                            <mdb-icon fas icon="clock"></mdb-icon>
                            <span *ngIf="info.schedule.is24x7"> 24x7 <span *ngIf="info.countExtend">(times extended: {{info.countExtend}})</span></span>
                            <span *ngIf="!info.schedule.is24x7"> Running on daily schedule: <span mdbTooltip="{{!info.schedule.isStartupTimeEnable? 'Scheduled startup deactivated. Re-enable it in the schedule panel.' : ''}}" [ngClass]="{'linethrough': !info.schedule.isStartupTimeEnable}">startup at <b>{{info.schedule.localeStartupTime}}h</b></span>, shutdown at <b>{{info.schedule.localeShutdownTime}}h</b> ({{info.schedule.localTimezone}})</span>
                        </div>   
                        <div *ngIf="!info.schedule">
                            <mdb-icon fas icon="clock"></mdb-icon> 24x7
                        </div>     
                        <div *ngIf="info.vmType && !info.options">
                            <mdb-icon fas icon="server"></mdb-icon> {{info.vmType}} <span *ngIf="info.nodeCount">( {{info.nodeCount}} nodes )</span>
                        </div>
                        <div *ngFor="let item of info.options | keyvalue">
                            <div *ngIf="!item.value.disabled">   
                                <div *ngIf="item.value.vmType">
                                    <div>
                                        <mdb-icon fas icon="server"></mdb-icon> {{item.value.vmType}} <span *ngIf="item.value.diskSizeGb">( {{item.value.diskSizeGb}} GiB on disk ) </span> <span *ngIf="item.value.nodeCount">( {{item.value.nodeCount}} nodes )</span>
                                    </div>
                                    <div *ngIf="item.value.selected" style="padding-left: 25px;">
                                        <mdb-icon fas icon="angle-right"></mdb-icon> {{item.value.selected.name}}
                                    </div>
                                </div>
        
                                <div *ngIf="!item.value.vmType">
                                    <div>
                                        <mdb-icon fas icon="check-square"></mdb-icon> {{getOptionName(item.key)}}<span *ngIf="item.value.selected">: {{item.value.selected.value}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="info.isExternalAccess">
                            <mdb-icon fas icon="globe-americas"></mdb-icon> External access enabled
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
        

        
        

        <div class="card">
            <h4 class="card-title">Connection resources</h4>
            <div class="card-body">
              <table *ngIf="info.outputs" class="table table-sm">
                <tbody>
                  <tr *ngFor="let item of info.outputs | keyvalue">
                    <td>
                      <b>{{ item.key }}</b>
                    </td>
                    <td>
                      <b style="margin-right: 10px" class="lui-text-danger" *ngIf="awsKey && awsKey.is90dExpired && (item.key === 's3_iam_user_access_key' || item.key === 'S3_iam_user_access_key' || item.key === 'iam_user_access_key')">EXPIRED, Rotate Key ASAP!</b>
                      <b style="margin-right: 10px" *ngIf="awsKey && !awsKey.is90dExpired && (item.key === 's3_iam_user_access_key' || item.key === 'S3_iam_user_access_key' || item.key === 'iam_user_access_key')">({{awsKey.ageInDays}} days old)</b>
                      <button style="margin-right: 10px;" mdbTooltip="Open Remote Access (VPN needed)" *ngIf="(item.key === 'WEB_SSH_ACCESS_WITH_GUACAMOLE' || item.key === 'WEB_RDP_ACCESS_WITH_GUACAMOLE')" (click)="openRemoteAccess(item)" class="lui-button lui-button--gradient">
                        <span *ngIf="item.key === 'WEB_SSH_ACCESS_WITH_GUACAMOLE'">SSH</span>
                        <span *ngIf="item.key === 'WEB_RDP_ACCESS_WITH_GUACAMOLE'">RDP</span>
                      </button>
                      <button style="margin-right: 10px;" mdbTooltip="Rotate Storate Account Key" *ngIf="info.scenario !== 'azqmi-databricks-unity-catalog' && (item.key === 'StorageAccount-AccessKey')" (click)="rotateSAKey(info)" class="lui-button lui-button--gradient">
                        <span class="fa fa-refresh"></span>
                      </button>
                      <button style="margin-right: 10px;" mdbTooltip="Rotate AWS IAM User Key" *ngIf="(item.key === 'S3_iam_user_access_key' || item.key === 'iam_user_access_key')" (click)="rotateAWSKey(info)" class="lui-button lui-button--gradient">
                        <span class="fa fa-refresh"></span>
                      </button>
                      <pre style="margin:0px;font-size: 14px;" [ngStyle]="{display: (item.key === 'WEB_SSH_ACCESS_WITH_GUACAMOLE' || item.key === 'WEB_RDP_ACCESS_WITH_GUACAMOLE' || item.key === 'StorageAccount-AccessKey' || item.key === 'S3_iam_user_access_key' || item.key === 'iam_user_access_key')? 'inline': 'block'}">{{ item.value }}</pre>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>

        

        <div class="card">
            <h4 class="card-title">Owner / Shares</h4>
            <div class="card-body">
                <div>
                    <img src="/photos/user/{{info.user.oid}}" (error)="onImgError($event, info.user)" style="border: 1px solid #ccc;width: 60px;border-radius: 50%;" /> {{info.user.displayName}}
                </div>
                <div *ngIf="sharedUsers && sharedUsers.length > 0">
                    <hr>
                    <p>Sharing with...</p>
                    <table class="table table-sm table-borderless">
                      <tr *ngFor="let withUser of sharedUsers; let i = index">
                          <td style="width: 50px;">
                              <img src="/photos/user/{{withUser.oid}}" (error)="onImgError($event, withUser)" style="border: 1px solid #ccc;width: 40px;border-radius: 50%;" />
                            </td>
                        <td>
                          {{ withUser.displayName }}<i *ngIf="!withUser.active"> (inactive)</i> - ({{
                            withUser.canManage ? "manage" : "view"
                          }})
                        </td>
                      </tr>
                    </table>
                    
                </div>
            </div>
        </div>

        <div class="card">
          <h4 class="card-title">Events</h4>
          <div class="card-body">
            <table *ngIf="events" class="table table-sm">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>By</th>
                  <th>Type</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of events; let i = index">
                  <td style="min-width: 120px">
                    {{ item.created | date: "MMM dd, yyyy - H:mm" }}
                  </td>
                  <td>{{item.user? item.user.displayName : 'QMI Platform'}}</td>
                  <td style="min-width: 130px">{{ item.type }}</td>
                  <td>{{ item.message }}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
    </div>
    <div class="modal-footer">
        <button type="button" mdbBtn size="sm" color="grey" class="waves-light" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>Close</button>
    </div>
</div>