label {
    position: relative;
    font-weight: bold;
}

.md-form {
    margin-top: 0px;
    margin-bottom: 0px;
}

::placeholder {
    color: #ccc;
} 

h5 {
    color: #19426c;
}

.utc {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 12px
}

.disabled {
    opacity: 0.2;
}

.section-option {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #aaa;
}

.imp-notes {
    padding: 15px 15px; 
    margin: 7px 0px;
}
