<!--Content-->
<div class="modal-content">
    <div class="modal-header text-center">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold">Share provision with others</h4>
    </div>
    
    <div class="modal-body" style="max-height: 650px; overflow: auto;">   
        <div *ngIf="sharedUsers && sharedUsers.length > 0">
          <label>Sharing this provision with: </label>
          <table>
            <tr *ngFor="let withUser of sharedUsers; let i = index">
              <td>{{withUser.displayName}} ({{withUser.canManage? 'manage': 'view'}})</td>
              <td>
                <button style="margin-left: 10px;" class="lui-button lui-text-danger" (click)="stopShare(withUser._id);">
                  <span class="lui-icon lui-icon--bin" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </table>
        </div>         
        <div>
          <section style="padding: 20px 0px;">
              <label><mdb-icon fas icon="user"></mdb-icon> Share with:</label>
              <select style="width: 170px;" class="browser-default custom-select custom-select-sm" [(ngModel)]="selectedUser">
                <option *ngFor="let item of users" [value]="item._id">{{item.displayName}}</option>
              </select> 
              <select style="width: 90px;" class="browser-default custom-select custom-select-sm" [(ngModel)]="acl.type">
                <option value="view" default>View</option>
                <option value="manage">Manage</option>
              </select> 
              <button class="lui-button text-success" (click)="share();">
                Share
              </button>
          </section>
        </div>
        <div style="font-size: 12px;">
          Sharing permissions:
          <ul>
            <li><i>View</i>: user will be ONLY able to access this provision's details and perform start/stop.</li>
            <li><i>Manage</i>: user will get full control of this provision, including destroy.</li>
          </ul>
          <p class="text-danger">IMPORTANT: Although you can now share this provision with others, It's still your responsability how others use it or what they use it for.</p>
        </div>
    </div>
    
    <div class="modal-footer d-flex justify-content-center">
      
      <button mdbBtn color="dark-green" size="sm" outline="true" class="waves-effect" mdbWavesEffect (click)="modalRef.hide()">Close</button>
      
    </div>
</div>
<!--/.Content-->