<div style="margin-top: 80px;">
   
    <div class="container-fluid">
        
        <div class="row" style="padding: 20px 0px">
            <div class="col-md-12" >
              <div id="currentselections" style="width: 100%;height: 40px;"></div>
            </div>
        </div>
        <div class="row" style="padding: 20px 0px">
          <div class="col-md-3">
            <div id="filterstatus" style="width: 100%;height: 40px;"></div>
          </div>
        </div>
        <div class="row" style="padding: 20px 0px">
          <div class="col-md-4">
            <div id="totalprovkpi" class="qvobject"></div> 
          </div>
          <div class="col-md-4">
            <div id="costhismonth" class="qvobject"></div>
          </div>
          <div class="col-md-4">
            <div id="statusprov" class="qvobject"></div>
          </div>
        </div>
        <div class="row" style="padding: 20px 0px">
            <div class="col-md-12">
              <div id="qdt1" class="qvobject"></div>
            </div>
        </div>

        <div class="row" style="padding: 20px 0px">
          <div class="col-md-6">
            <div id="scenariosbreakdown" class="qvobject"></div>
          </div>
          <div class="col-md-6">
            <div id="qdt1a" class="qvobject"></div>
          </div>
      </div>
        
        <div class="row" style="padding: 20px 0px">
            
            <div class="col-md-6">
              <div id="qdt3" class="qvobject"></div>
            </div>
            <div class="col-md-6">
              <div id="qdt4" class="qvobject"></div>
            </div>       
        </div>
        
        </div>
    </div>

<qmi-alert></qmi-alert>
