<nav class="navbar navbar-light bg-light mt-5" style="background-color: #fafafa !important; border-top: 1px solid #ccc;">
  <div class="navbar-expand m-auto navbar-text">
    <a href="#">Qlik Presales - Innovation & Excellence Team</a>
  </div>
</nav>