.provlogs {
    position: fixed;
    width: 0px;
    height: 100%;
    right: 0px;
    top: 0px;
    z-index: 10000;
    background:#343a40; 
    color: #fff;
    padding: 0px;
    overflow: auto;
    font-size: 0.8em;
    border-left: 2px solid #ccc;
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;

    .mypre {
        
        color: white;
        word-wrap: break-word;
        white-space: pre-wrap; 
        white-space: -moz-pre-wrap; 
        white-space: -pre-wrap; 
        white-space: -o-pre-wrap;
    }
}