<div #insideElement class="provlogs" [ngStyle]="{'width': show? '70%': '0px'}">
  <div *ngIf="type && item" style="padding: 25px;">
    <button class="lui-button lui-button--gradient" (click)="close()"><i class="fa fa-times"></i></button>
    <!--<button style="margin-left: 10px;" class="lui-button  lui-button--gradient" (click)="refresh()"><i class="fa fa-refresh"></i></button>-->
    <h3 style="padding-top: 20px;"><span style="text-transform: capitalize;">{{type}}</span> Logs
      <span *ngIf="type === 'provision'">({{item._id}} - {{item.scenario}})</span>
      <span *ngIf="type === 'destroy' && item.destroy">({{item.destroy._id}} - {{item.scenario}})</span>
      <span *ngIf="type === 'snapshot'">({{item.name}})</span>
    </h3>
    <hr style="border-top: 1px dashed white;">
    <pre *ngIf="content" class="mypre">{{content}}</pre>
    <br>
    <button class="lui-button  lui-button--gradient" (click)="close()"><i class="fa fa-times"></i></button>
    <!--<button style="margin-left: 10px;" class="lui-button  lui-button--gradient" (click)="refresh()"><i class="fa fa-refresh"></i></button>-->
  </div>
</div>
