<nav class="navbar navbar-light bg-light mb-5 fixed-top qmicloudnav"> 
  <a class="navbar-brand" href="/" style="font-weight: bold;font-weight: bold; display: flex; justify-content: center;align-items: center; margin-right: 50px;">
    <img src="assets/logo.svg" style="height: 30px;">
    <span style="margin-left: 20px;font-size: 16px;text-align: center;">Qlik Machine Images
      <p style="line-height: 15px;font-size: 18px;font-weight: 200; margin:0px;">Cloud</p>
    </span>
  </a> 
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <!--<a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>-->
      <a *ngIf="user" class="nav-item nav-link" routerLink="/scenarios" routerLinkActive="active">Scenarios</a>
      <a *ngIf="user" class="nav-item nav-link" routerLink="/provisions" routerLinkActive="active">My Provisions</a>
      <a *ngIf="user" class="nav-item nav-link" routerLink="/sharedprovision" routerLinkActive="active">Shared Provisions</a>
      <a *ngIf="checkFeature(user,'training')" class="nav-item nav-link" routerLink="/training" routerLinkActive="active">Training</a>
      <a *ngIf="user" class="nav-item nav-link" routerLink="/cost-analysis" routerLinkActive="active">Cost Analysis</a>
      <!--<a *ngIf="user && (user.role === 'admin' || user.role === 'superadmin')" class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">ADMIN</a>
      <a *ngIf="user" class="nav-item nav-link" routerLink="/stats" routerLinkActive="active">Stats</a>-->
    </div>
  </div>
  <div class="navbar-expand ml-auto">
    <div class="navbar-nav">
      <a *ngIf="user && (user.role === 'admin' || user.role === 'superadmin')" class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
      <!--<a class="nav-item nav-link" routerLink="/faq" routerLinkActive="active">FAQ</a>-->
      <a *ngIf="user && (user.role === 'admin' || user.role === 'superadmin')" class="nav-item nav-link" href="/api-docs" target="_blank" style="padding-right: 50px;">API Docs</a>
      <!--<a *ngIf="user" href (click)="logout($event)" class="nav-item nav-link" style="padding-left: 40px; color: #009845 !important;">Logout <i class="fas fa-sign-out-alt"></i></a>--> 
      <li *ngIf="user" class="nav-item">
       <img src="/photos/user/{{user.oid}}" (error)="onImgError($event, user)" style="border-radius: 50%; width: 40px;" />
      </li>
      <a *ngIf="user" class="nav-item nav-link " style="font-weight: bold;">{{user.displayName}}</a>
      <a *ngIf="!user" class="nav-item nav-link" style="padding-left: 40px; color: #009845 !important;" href="/login">Login <i class="fas fa-sign-in-alt"></i></a> 
    </div>
  </div>
</nav>