<app-logs
  [show]="logShow"
  (onClose)="onLogsClose()"
  [type]="logstype"
  [item]="logItem"
></app-logs>
<div *ngIf="provisionId">
  <my-qsembed [provision]="provisionId"></my-qsembed>
</div>
<div style="margin-top: 80px; min-height: 650px">
  <h1 *ngIf="provision">{{ provision.description }}</h1>
  <div *ngIf="provision" class="container">
    <div class="row">
      <div class="col-4">
        <div class="box">
          <div class="title {{ provision.status }} {{ !provision.isDestroyed ? provision.statusVms : 'destroyed' }}">
            <div class="maintitle">
              <span *ngIf="provision._scenarioDoc">{{
                provision._scenarioDoc.title
              }}</span
              ><span *ngIf="!provision._scenarioDoc"
                >Old scenario (please destroy)</span
              >
            </div>
            <div>
              {{ provision.scenario }} (v{{ provision.scenarioVersion }})
              <span
                *ngIf="
                  provision.scenarioVersion !== provision._scenarioDoc.version
                "
                class="text-danger newversion"
                >New version available!</span
              >
            </div>
          </div>
          <div class="contentbox">
            <img class="qmiflag" src="../../assets/flags/{{getFlag(provision)}}.svg" mdbTooltip="{{provision.deployOpts.location}}" />
            
            <div *ngIf="!provision.isDestroyed && provision.statusVms">
              <span>
                <span
                  style="font-size: 12px; text-transform: uppercase"
                  class="badge badge-secondary"
                  [ngClass]="{
                    'badge-success': provision.statusVms === 'Running',
                    'badge-warning':
                      provision.statusVms === 'Stopped' ||
                      provision.statusVms === 'Stopping' ||
                      provision.statusVms === 'Starting'
                  }"
                  >{{ provision.statusVms }}</span
                >
                <span
                  *ngIf="
                    provision.statusVms === 'Starting' ||
                    provision.statusVms === 'Stopping'
                  "
                  class="spinner-border spinner-border-sm text-warning"
                  role="status"
                >
                  <span class="sr-only"></span>
                </span>
              </span>
              <span
                *ngIf="
                  provision.scenario !== 'azqmi-synapse' &&
                  provision.statusVms === 'Stopped'
                "
              >
                (for {{ provision.inactiveAsDays }})</span
              >
            </div>
            <hr *ngIf="!provision.isDestroyed && provision.statusVms">
            <div
              *ngIf="
                (provision.vmImage && provision.vmImage.vm1) ||
                (provision.options && provision.options.vm1)
              "
            >
              <div *ngIf="provision.statusVms">
                <mdb-icon fas icon="play-circle"></mdb-icon> Accumulated Running
                Time:
                <span style="font-weight: bold">{{
                  provision.runningAsDays
                }}</span>
              </div>
              <div *ngIf="!provision.isDestroyed && provision.schedule && !provision.schedule.is24x7">
                <span
                  mdbTooltip="{{
                    !provision.schedule.isStartupTimeEnable
                      ? 'Scheduled startup deactivated. Re-enable it in the schedule panel.'
                      : ''
                  }}"
                  [ngClass]="{
                    linethrough: !provision.schedule.isStartupTimeEnable
                  }"
                  *ngIf="provision.statusVms === 'Stopped'"
                >
                  <mdb-icon fas icon="clock"></mdb-icon> VMs startup scheduled
                  at <b>{{ provision.schedule.localeStartupTime }}h</b> ({{
                    provision.schedule.localTimezone
                  }})
                </span>
                <span *ngIf="provision.statusVms === 'Running'">
                  <mdb-icon fas icon="clock"></mdb-icon> VMs shutdown scheduled
                  at <b>{{ provision.schedule.localeShutdownTime }}h</b> ({{
                    provision.schedule.localTimezone
                  }})
                </span>
              </div>
              <div
                *ngIf="!provision.isDestroyed && 
                  (provision.statusVms === 'Running' ||
                    provision.statusVms === 'Stopping') &&
                  !provision.runForever
                "
              >
                <div *ngIf="!provision.schedule || provision.schedule.is24x7">
                  VMs will run <b>nonstop</b> for
                  <b>{{ provision.autoshutdownAsDays }}</b
                  ><span *ngIf="provision.status === 'provisioned'">
                    -
                    <a
                      mdbTooltip="Renew 24x7 period"
                      href
                      (click)="openConfirmExtendModal($event, provision)"
                    >
                      <mdb-icon fas icon="redo-alt"></mdb-icon> </a
                  ></span>
                </div>
              </div>
              <div
                *ngIf="!provision.isDestroyed && 
                  (provision.statusVms === 'Stopped' ||
                    provision.statusVms === 'Starting') &&
                  !provision.runForever
                "
              >
                <span
                  *ngIf="
                    !provision.schedule ||
                    provision.schedule.is24x7 ||
                    (provision.schedule &&
                      !provision.schedule.is24x7 &&
                      !provision.schedule.isStartupTimeEnable)
                  "
                >
                  <mdb-icon fas icon="times-circle"></mdb-icon> Scheduled
                  auto-destroy in ~
                  <b>{{ provision.autoDestroyAsDays }}</b>
                </span>
              </div>
              
            </div>
            <div *ngIf="provision.forcedDestroyAsDays">
              <div >
                  <span>
                      <mdb-icon fas icon="times-circle"></mdb-icon> Forced destroy in ~ <b>{{provision.forcedDestroyAsDays}}</b>
                  </span>
              </div>
            </div>
            <div *ngIf="costData" style="margin: 5px 0px;">
              <b>{{getCost(provision._id)}} spent <span *ngIf="!provision.isDestroyed">so far</span></b>
            </div>
            <hr />
            <div>
              Provision ({{ provision.created | date: "MMM dd, yyyy - H:mm" }}) -
              <span>
                <span
                  style="text-transform: uppercase"
                  class="badge badge-secondary"
                  [ngClass]="{
                    'badge-warning':
                      provision.status === 'provisioning' ||
                      provision.status === 'initializing',
                    'badge-success': provision.status === 'provisioned',
                    'badge-danger':
                      provision.status === 'error' ||
                      provision.status === 'error_init' ||
                      provision.status === 'error_plan'
                  }"
                  >{{ provision.status }}</span
                >
                <span
                  *ngIf="
                    provision.status === 'provisioning' ||
                    provision.status === 'initializing'
                  "
                  class="spinner-border spinner-border-sm text-warning"
                  role="status"
                >
                  <span class="sr-only"></span>
                </span>
              </span>
              -
              <a
                href
                (click)="showLogs($event, 'provision')"
                class="lui-text-info"
                >Logs</a
              >
            </div>
            <div style="padding-top: 15px;" *ngIf="provision.status === 'error'">
              I fixed it myself, make it a Successful provision.  
              <button mdbTooltip="Change provision status" style="margin-left: 5px;" class="lui-button" (click)="openModalChangeSuccess(provision)">
                  <span class="lui-icon lui-icon--tick" aria-hidden="true"></span>
              </button>
            </div>
            <div *ngIf="provision.destroy">
              Destroy ({{ provision.destroy.created | date: "MMM dd, yyyy - H:mm" }}) -
              <span>
                <span
                  style="text-transform: uppercase"
                  class="badge badge-secondary"
                  [ngClass]="{
                    'badge-warning': provision.destroy.status === 'destroying',
                    'badge-success': provision.destroy.status === 'destroyed',
                    'badge-danger': provision.destroy.status === 'error'
                  }"
                  >{{ provision.destroy.status }}</span
                >
                <span
                  *ngIf="provision.destroy.status === 'destroying'"
                  class="spinner-border spinner-border-sm text-warning"
                  role="status"
                >
                  <span class="sr-only"></span>
                </span>
              </span>
              -
              <a
                *ngIf="provision.destroy._id"
                href
                (click)="showLogs($event, 'destroy')"
                class="lui-text-info"
                >Logs</a
              >
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-4" *ngIf="!isSnapshots">
        <div class="card">
            <h4 class="card-title">Provision options</h4>
            <div class="card-body">

                <div>
                    <mdb-icon fas icon="map-marker-alt"></mdb-icon> {{provision.deployOpts.description}}
                  </div>
                <div *ngIf="provision.schedule">
                    <mdb-icon fas icon="clock"></mdb-icon>
                    <span *ngIf="provision.schedule.is24x7"> 24x7 <span *ngIf="provision.countExtend">(times extended: {{provision.countExtend}})</span></span>
                    <span *ngIf="!provision.schedule.is24x7"> Running on daily schedule: <span mdbTooltip="{{!provision.schedule.isStartupTimeEnable? 'Scheduled startup deactivated. Re-enable it in the schedule panel.' : ''}}" [ngClass]="{'linethrough': !provision.schedule.isStartupTimeEnable}">startup at <b>{{provision.schedule.localeStartupTime}}h</b></span>, shutdown at <b>{{provision.schedule.localeShutdownTime}}h</b> ({{provision.schedule.localTimezone}})</span>
                </div>   
                <div *ngIf="!provision.schedule">
                    <mdb-icon fas icon="clock"></mdb-icon> 24x7
                </div>     
                <div *ngIf="provision.vmType && !provision.options">
                    <mdb-icon fas icon="server"></mdb-icon> {{provision.vmType}} <span *ngIf="provision.nodeCount">( {{provision.nodeCount}} nodes )</span>
                </div>
                <div *ngFor="let item of provision.options | keyvalue">
                    <div *ngIf="!item.value.disabled">   
                        <div *ngIf="item.value.vmType">
                            <div>
                                <mdb-icon fas icon="server"></mdb-icon> {{item.value.vmType}} <span *ngIf="item.value.diskSizeGb">( {{item.value.diskSizeGb}} GiB on disk ) </span> <span *ngIf="item.value.nodeCount">( {{item.value.nodeCount}} nodes )</span>
                            </div>
                            <div *ngIf="item.value.selected" style="padding-left: 25px;">
                                <mdb-icon fas icon="angle-right"></mdb-icon> {{item.value.selected.name}}
                            </div>
                        </div>

                        <div *ngIf="!item.value.vmType">
                            <div>
                                <mdb-icon fas icon="check-square"></mdb-icon> {{getOptionName(item.key)}}<span *ngIf="item.value.selected">: {{item.value.selected.value}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="provision.isExternalAccess">
                    <mdb-icon fas icon="globe-americas"></mdb-icon> External access enabled
                </div>

            </div>
        </div>

      </div>
      <div class="col-4" *ngIf="!isSnapshots">
        <div class="card">
          <h4 class="card-title">Owner / Shares</h4>
          <div class="card-body">
            <div>
              <img src="/photos/user/{{provision.user.oid}}" (error)="onImgError($event, provision.user)" style="border: 1px solid #ccc;width: 60px;border-radius: 50%;" /> {{provision.user.displayName}}
            </div>
            
            <div *ngIf="sharedUsers && sharedUsers.length > 0">
              <hr>
              <p>Sharing with...</p>
              <table class="table table-sm table-borderless">
                <tr *ngFor="let withUser of sharedUsers; let i = index">
                    <td style="width: 50px;">
                        <img src="/photos/user/{{withUser.oid}}" (error)="onImgError($event, withUser)" style="border: 1px solid #ccc;width: 40px;border-radius: 50%;" />
                      </td>
                  <td>
                    {{ withUser.displayName }}<i *ngIf="!withUser.active"> (inactive)</i> ({{
                      withUser.canManage ? "manage" : "view"
                    }})
                  </td>
                </tr>
              </table>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="isSnapshots && userRole && (userRole === 'admin' || userRole === 'superadmin')">
      <div class="col-12">
        <div class="card">
          <h4 class="card-title">VM Snapshots
            <button *ngIf="creating" disabled mdbBtn color="dark-green" class="waves-light" style="margin-left: 5px;" size="sm" mdbWavesEffect >
              <span>Creating </span>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
            <button *ngIf="!creating" mdbBtn color="dark-green" class="waves-light" style="margin-left: 5px;" size="sm" mdbWavesEffect (click)="createNewSnap()">+ Create New</button>
          </h4>
          <div class="card-body" *ngIf="snapshots && snapshots.length">
            <table  class="table table-sm">
              <thead>
                <tr>
                  <th>CreatedAt</th>
                  <th>By</th>
                  <th>Status</th>
                  <th>Snapshot Name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of snapshots; let i = index">
                  <td style="min-width: 120px">
                    {{ item.created | date: "MMM dd, yyyy - H:mm" }}
                  </td>
                  <td>{{item.owner? item.owner.displayName : 'QMI Platform'}}</td>
                  <th>{{ item.status }}</th>
                  <td style="min-width: 130px">{{ item.name }}</td>
                  <td>
                    <button *ngIf="item.status === 'created'" title="Start Copy" (click)="copySnap(item)" class="lui-button">
                     Distribute to Regions 
                    </button>
                    <button *ngIf="item.status === 'copy.init'"  title="Check Copy Status" (click)="checkCopySnap(item)" class="lui-button">
                      Check Copy Status
                    </button>
                    <button title="Show Logs" style="margin-left: 10px" (click)="showSnapshotLogs($event, item, 'snapshot')" class="lui-button">
                      Logs
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <h4 class="card-title">Connection resources</h4>
          <div class="card-body">
            <table *ngIf="provision.outputs" class="table table-sm">
              <tbody>
                <tr *ngFor="let item of provision.outputs | keyvalue">
                  <td>
                    <b>{{ item.key }}</b>
                  </td>
                  <td><pre style="margin:0px;font-size: 14px;">{{ item.value }}</pre></td>
                  <td>{{ item.message }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
     </div>
    <div class="row" *ngIf="!isSnapshots">
      <div class="col-12">
        <div class="card">
          <h4 class="card-title">Events</h4>
          <div class="card-body">
            <table *ngIf="events" class="table table-sm">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>By</th>
                  <th>Type</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of events; let i = index">
                  <td style="min-width: 120px">
                    {{ item.created | date: "MMM dd, yyyy - H:mm" }}
                  </td>
                  <td>{{item.user? item.user.displayName : 'QMI Platform'}}</td>
                  <td style="min-width: 130px">{{ item.type }}</td>
                  <td>{{ item.message }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<qmi-alert></qmi-alert>
