td.ell {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h1 {
    font-weight: 200;
    color: #19426c;
}
hr {
    margin: 5px 0px;
}

.qmiflag {
    width: 25px; 
    position: absolute; 
    top: 5px; 
    right: 5px; 
    border-radius: 2px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px 0.5px;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    justify-content: center;
    .box {
        border: 1px rgb(64, 64, 64);
        border-radius: 8px;
        /*flex-grow: 1;*/
        min-height: 100px;
        /*width: 340px;*/
        margin-bottom: 24px;
        margin-right: 24px;
        max-width: 400px;
        min-width: 350px;
        position: relative;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0.2rem 0.6rem 0px;
        flex: 1;

        .title {
            &.desc {
                height: 42px;
                max-height: 42px;
                min-height: 42px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                
                &.shared {
                   border-radius: 0px; 
                }
                &.by {
                    background-color: rgba(84,86,90,0.8);
                    color: #fff;
                }
            }
            padding: 10px;
            min-height: 66px;
            background: rgba(84,86,90, 0.2);
            color: #595959;
            .maintitle {
                //font-weight: bold;
                font-size: 14px;
            }
            .subtitle {
                font-weight: bold;
                font-size: 16px;
                text-overflow: ellipsis;
                /* Required for text-overflow to do anything */
                white-space: nowrap;
                overflow: hidden;  
                color: #19426c;
            }

            &.queued, &.initializing, &.provisioning {
                background: rgba(84,86,90, 0.2);
            }
    
            &.provisioned {
                //background: rgba(0,152,69, .4);
                &.Stopped, &.Starting {
                    background: rgba(84,86,90, 0.2);
                }
            }
            &.error {
                background: rgba(231, 0, 76, 0.3);
            }

            &.error_init {
                background: rgba(231, 0, 76, 0.3);
            }

            &.error_plan {
                background: rgba(231, 0, 76, 0.3);
            }
    
            &.destroyed {
                background: rgba(84,86,90, 0.2);
            }
        }  

        .contentbox {
            position: relative;
            white-space: nowrap;
            font-size: 12px;
            padding: 10px;
            min-height: 220px;
            &.destroyed {
                min-height: 120px;
            }
        }

        .buttons {
            padding: 10px;
            width: 100%;
            position: absolute;
            bottom: 0px;
            .compact {
                width: calc(80% - 5px);
                margin-right: 5px;
            }
        }        
    }
}

.mypre {        
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap;
}

.modal-popover {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    .lui-popover {
        max-width: 700px;
    }
    .popover-content {
        position: relative;
        top: 10%;
    }
    .lui-popover__body {
        font-size: 14px;
        max-height: 600px;
        overflow: auto;
    }
}

.linethrough {
    text-decoration: line-through;
}

.newversion {
    font-weight: bold;
    font-size: 10px;
    margin-left: 8px;
    padding: 2px;
    background: #fff;
}