<app-logs [show]="logShow" (onClose)="onLogsClose()" [type]="logstype" [item]="selectedprov"></app-logs>

<div style="margin-top: 90px; min-height: 650px; position: relative;">
    <h1>Provisions <span *ngIf="provisions && provisions.length">({{provisions.length}})</span></h1>
    <my-qsembed [user]="currentUser" [hide]="'no'"></my-qsembed>
    <div *ngIf="provisions && provisions.length" class="flexcontainer">
        <div *ngFor="let provision of provisions; let i = index" class="box"> 
            <div class="title desc {{provision.status}} {{provision.statusVms}} {{provision.destroy? provision.destroy.status : ''}}">
                <div mdbTooltip="{{provision.description}}" class="subtitle">{{provision.description}}</div>
            </div>
            <div style="border-top: 1px dashed #999;" class="title {{provision.status}} {{provision.statusVms}} {{provision.destroy? provision.destroy.status : ''}}">
                <div class="maintitle"><span *ngIf="provision._scenarioDoc">{{provision._scenarioDoc.title}}</span><span *ngIf="!provision._scenarioDoc">Old scenario (please destroy)</span></div>
                <div style="font-size: 14px;">{{provision.scenario}} (v{{provision.scenarioVersion}}) <span *ngIf="provision.scenarioVersion !== provision._scenarioDoc.version" class="text-danger newversion">New version available!</span></div>
            </div>
            <div class="contentbox">  
                <img class="qmiflag" src="../../assets/flags/{{getFlag(provision)}}.svg" mdbTooltip="{{provision.deployOpts.location}}" />     
                <div *ngIf="provision.statusVms" style="margin: 0px 0px 5px 0px;">
                    <span>
                        <span style="font-size: 12px;text-transform: uppercase;" class="badge badge-secondary" [ngClass]="{'badge-success': provision.statusVms === 'Running', 'badge-warning': provision.statusVms === 'Stopped' || provision.statusVms === 'Stopping' || provision.statusVms === 'Starting'}">{{provision.statusVms}}</span>
                        <span *ngIf="provision.statusVms === 'Starting' || provision.statusVms === 'Stopping'" class="spinner-border spinner-border-sm text-warning" role="status">
                            <span class="sr-only"></span>
                        </span>
                    </span>
                    <span *ngIf="provision.scenario !== 'azqmi-synapse' && provision.statusVms === 'Stopped'"> (for {{provision.inactiveAsDays}})</span>
                    
                </div>
                <hr>
                <div *ngIf="(provision.vmImage && provision.vmImage.vm1 || provision.options && provision.options.vm1)">
                    <div *ngIf="provision.statusVms">
                        <mdb-icon fas icon="play-circle"></mdb-icon> Accumulated Running Time: <span style="font-weight: bold;">{{provision.runningAsDays}}</span>
                    </div>  
                    <div *ngIf="provision.schedule && !provision.schedule.is24x7">
                        <span mdbTooltip="{{!provision.schedule.isStartupTimeEnable? 'Scheduled startup deactivated. Re-enable it in the schedule panel.' : ''}}" [ngClass]="{'linethrough': !provision.schedule.isStartupTimeEnable}" *ngIf="provision.statusVms === 'Stopped'">
                            <mdb-icon fas icon="clock"></mdb-icon> VMs startup scheduled at <b>{{provision.schedule.localeStartupTime}}h</b> ({{provision.schedule.localTimezone}})
                        </span> 
                        <span *ngIf="provision.statusVms === 'Running'"><mdb-icon fas icon="clock"></mdb-icon> VMs shutdown scheduled at <b>{{provision.schedule.localeShutdownTime}}h</b> ({{provision.schedule.localTimezone}})</span> 
                    </div>
                    <div *ngIf="(provision.statusVms === 'Running' || provision.statusVms === 'Stopping') && !provision.runForever">
                        <div *ngIf="!provision.schedule || provision.schedule.is24x7">
                            VMs will run <b>nonstop</b> for <b>{{provision.autoshutdownAsDays}}</b><span *ngIf="provision.status === 'provisioned'"> - <a mdbTooltip="Renew 24x7 period" href (click)="openConfirmExtendModal($event, provision)"><mdb-icon fas icon="redo-alt"></mdb-icon></a></span>
                        </div>
                    </div>
                        
                    <!--<div *ngIf="provision.statusVms === 'Running' || provision.statusVms === 'Stopping'">
                        <mdb-icon *ngIf="provision.schedule && !provision.schedule.is24x7" fas icon="stopwatch"></mdb-icon> 
                        <span *ngIf="provision.schedule && !provision.schedule.is24x7"> Scheduled shutdown in ~ <span style="font-weight: bold;">{{provision.autoshutdownAsHours}}</span></span> 
                        
                    </div>-->
                    <div *ngIf="(provision.statusVms === 'Stopped' || provision.statusVms === 'Starting') && !provision.runForever">
                        <span *ngIf="!provision.schedule || provision.schedule.is24x7 || (provision.schedule && !provision.schedule.is24x7 && !provision.schedule.isStartupTimeEnable)">
                            <mdb-icon fas icon="times-circle"></mdb-icon> Scheduled auto-destroy in ~ <b>{{provision.autoDestroyAsDays}}</b>
                        </span>
                    </div>
                    
                    
                </div>
                <div *ngIf="provision.forcedDestroyAsDays">
                    <div >
                        <span>
                            <mdb-icon fas icon="times-circle"></mdb-icon> Forced destroy in ~ <b>{{provision.forcedDestroyAsDays}}</b>
                        </span>
                    </div>
                </div>
                <div *ngIf="costData" style="margin: 5px 0px;">
                    <b>{{getCost(provision._id)}} spent so far</b>
                </div> 
                <hr>
                <div>
                    Provision ({{provision.created | date: 'MMM dd, yyyy'}})
                    - 
                    <span *ngIf="provision.status && provision.status!=='provisioned'">
                        <span style="text-transform: uppercase;" class="badge badge-secondary" [ngClass]="{'badge-warning': provision.status === 'provisioning' || provision.status === 'initializing', 'badge-success': provision.status === 'provisioned', 'badge-danger': provision.status === 'error' || provision.status === 'error_init' || provision.status === 'error_plan' }">{{provision.status}}</span>
                        <span *ngIf="provision.status === 'provisioning' || provision.status === 'initializing'" class="spinner-border spinner-border-sm text-warning" role="status">
                            <span class="sr-only"></span>
                        </span>
                        - 
                    </span>
                    
                    <a href (click)="showLogs($event, provision, 'provision')" class="lui-text-info">Logs</a>
                </div>
                <div *ngIf="provision.destroy">
                    Destroy ({{provision.destroy.created | date: 'MMM dd'}}) 
                    - 
                    <span *ngIf="provision.destroy && provision.destroy.status!=='provisioned'">
                        <span style="text-transform: uppercase;" class="badge badge-secondary" [ngClass]="{'badge-warning': provision.destroy.status === 'destroying', 'badge-success': provision.destroy.status === 'destroyed', 'badge-danger': provision.destroy.status === 'error'}">{{provision.destroy.status}}</span>
                        <span *ngIf="provision.destroy.status === 'destroying'" class="spinner-border spinner-border-sm text-warning" role="status">
                            <span class="sr-only"></span>
                        </span>
                        - 
                    </span> 
                   
                    <a *ngIf="provision.destroy._id" href (click)="showLogs($event, provision, 'destroy')" class="lui-text-info">Logs</a>
                </div>
    
                
            </div>
            <div class="buttons">
                <button mdbTooltip="Provision information" style="margin-right: 2px;" class="lui-button" (click)="openModal(provision)">
                    <span class="lui-icon lui-icon--info" aria-hidden="true"></span>
                </button>
                <button style="margin-right: 2px;" mdbTooltip="Configure provision" *ngIf="provision.status === 'provisioned'" (click)="openScheduleModal(provision)" class="lui-button">
                    <mdb-icon fas icon="cog"></mdb-icon>
                </button>
                <button style="margin-right: 2px;" mdbTooltip="Stop" *ngIf="(provision.scenario === 'awsqmi-rds' || provision.scenario === 'azqmi-synapse' || provision.vmImage && provision.vmImage.vm1 || provision.options && provision.options.vm1) && provision.status === 'provisioned' && provision.statusVms === 'Running'" (click)="openConfirmStopModal(provision)" class="lui-button">
                    <span class="lui-icon lui-icon--stop" aria-hidden="true"></span>
                </button>
                <button style="margin-right: 2px;" mdbTooltip="Start" *ngIf="(provision.scenario === 'awsqmi-rds' || provision.scenario === 'azqmi-synapse' || provision.vmImage && provision.vmImage.vm1 || provision.options && provision.options.vm1) && provision.status === 'provisioned' && provision.statusVms === 'Stopped'" (click)="openConfirmStartModal(provision)" class="lui-button">
                    <span class="lui-icon lui-icon--run" aria-hidden="true"></span>
                </button>  
                <button style="margin-right: 2px;" mdbTooltip="Open Remote Access (VPN needed)" *ngIf="(provision.outputs && (provision.outputs.WEB_SSH_ACCESS_WITH_GUACAMOLE || provision.outputs.WEB_RDP_ACCESS_WITH_GUACAMOLE) && provision.status === 'provisioned')" (click)="openRemoteAccess(provision)" class="lui-button">
                    <span *ngIf="provision.outputs.WEB_SSH_ACCESS_WITH_GUACAMOLE">SSH</span>
                    <span *ngIf="provision.outputs.WEB_RDP_ACCESS_WITH_GUACAMOLE">RDP</span>
                </button> 
                <!--<button style="margin-right: 5px;" mdbTooltip="Renew 24x7 period" *ngIf="(!provision.schedule || provision.schedule.is24x7) && provision.status === 'provisioned' && provision.statusVms === 'Running'" (click)="openConfirmExtendModal(provision)" class="lui-button">
                    <mdb-icon fas icon="redo-alt"></mdb-icon> 24x7
                </button>-->
                <button style="float: right;" mdbTooltip="Destroy provision" *ngIf="!provision.isDestroyed && (provision.status === 'provisioned' || provision.status === 'error' || provision.status === 'aborted') && (!provision.destroy || provision.destroy.status !== 'destroying')" (click)="openConfirmDestroyModal(provision)" class="lui-button">
                    <span class="lui-icon lui-icon--remove lui-text-danger" aria-hidden="true"></span>
                </button>
                <button style="float: right;" mdbTooltip="Remove entry" *ngIf="(provision.isDestroyed && provision.destroy.status === 'destroyed') || provision.status === 'error_init' || provision.status === 'error_plan'" (click)="del(provision)" class="lui-button">
                    <span class="lui-icon lui-icon--bin lui-text-danger" aria-hidden="true"></span>
                </button> 
                <button style="float: right;margin-right: 2px;" mdbTooltip="Share provision" class="lui-button" (click)="share(provision)">
                    <span class="lui-icon lui-icon--share" aria-hidden="true"></span>
                </button>        
            </div>
        </div>
    </div>
    <div *ngIf="!provisions || provisions.length === 0" style="text-align: center;">
        <p>You don't have any active provisions.</p>
        <p>Search available <a routerLink="/scenarios" routerLinkActive="active">Scenarios</a> and start provisioning now.</p>
    </div>

    <h4 style="padding-top: 40px; color: #19426c;" *ngIf="destroys && destroys.length">History <button mdbTooltip="Show/Hide History" (click)="toggleHistory()" class="lui-button"><span class="lui-icon lui-icon--triangle-{{history? 'top' : 'bottom'}}" aria-hidden="true"></span></button></h4>
    <div *ngIf="destroys && destroys.length && history" class="flexcontainer">
        <div *ngFor="let provision of destroys; let i = index" class="box">
            <div class="title desc {{provision.status}} {{provision.destroy? provision.destroy.status : ''}}">
                <div mdbTooltip="{{provision.description}}" class="subtitle">{{provision.description}}</div>
            </div>
            <div style="border-top: 1px dashed #999;" class="title {{provision.status}} destroyed">
                <div class="maintitle"><span *ngIf="provision._scenarioDoc">{{provision._scenarioDoc.title}}</span><span *ngIf="!provision._scenarioDoc">Old scenario (please delete)</span></div>
                <div style="font-size: 14px;">{{provision.scenario}} (v{{provision.scenarioVersion}})</div>
            </div>
            <div class="contentbox destroyed">
                <div *ngIf="costData">
                    <b>{{getCost(provision._id)}} spent</b>
                </div>  
                <div>
                    Provision ({{provision.created | date: 'MMM dd, yyyy - H:mm'}}h)
                    - 
                    <a href (click)="showLogs($event, provision, 'provision')" class="lui-text-info">Logs</a>
                </div>
                <div *ngIf="provision.destroy">
                    Destroy ({{provision.destroy.created | date: 'MMM dd, yyyy - H:mm'}}h) 
                    - 
                    <a *ngIf="provision.destroy" href (click)="showLogs($event, provision, 'destroy')" class="lui-text-info">Logs</a>
                </div>
                
            </div>
            <div class="buttons">
                <button style="margin-right: 2px;" mdbTooltip="Provision information" class="lui-button" (click)="openModal(provision)"><span class="lui-icon lui-icon--info" aria-hidden="true"></span></button>
                <button style="float:right;" mdbTooltip="Remove entry" *ngIf="provision.isDestroyed && provision.destroy.status === 'destroyed'" (click)="del(provision)" class="lui-button"><span class="lui-icon lui-icon--bin lui-text-danger" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>

<!-- 
<div style="margin-top: 40px; margin-bottom: 100px;">
    <h1>Scenarios</h1>
    <app-scenarios (onStartProvision)="onStartProvision($event)"></app-scenarios>
</div>
-->
<qmi-alert></qmi-alert>