<div class="wrapper">
  <!--<img class="qlikLogo" src="https://www.qlik.com/us/-/media/images/qlik/global/qlik-logo-2x.png">-->
  <div style="height: 167px;width:100%;max-width: 1000px;background: #f5f4f8">
    <img style="margin: 48px;width: 240px"
      src="https://www.qlik.com/us/-/media/images/qlik/global/qlik-logo-2x.png?rev=1167e952ae934867bc9ee7f3d4952e1f"
      alt="Qlik">
  </div>

  <div *ngIf="status && status !== 'active'" class="content" role="main">
    
    <!-- This is the start of content for our page -->
    <h3 class="lui-text-warning"><span class="lui-icon lui-icon--warning-triangle" aria-hidden="true" style="font-size: 1em"></span> Oops, this training session is {{status}}.</h3>        
    
    <p>
      Please, ask the session owner for more.
    </p>
  </div>

  <div *ngIf="success" class="content" role="main">
        
        
    <!-- This is the start of content for our page -->
    <h3 class="lui-text-success">
      Great, an invitation email is on its way!!
    </h3>
  
    <p>Go to your inbox and follow the instructions in the email.</p>

    <p>Thanks!</p>
    
    
    <p>
      <button type="button" onclick="window.close();">You can close this window now</button>
    </p>
  </div>
  
  
  
  <div *ngIf="error" class="content" role="main">
    
    <!-- This is the start of content for our page -->
    <h3 class="lui-text-danger"><span class="lui-icon lui-icon--warning-triangle" aria-hidden="true" style="font-size: 1em"></span> Oops, something went wrong</h3>        
       
    <p>
         Please, ask the session owner for assistance.
    </p>

  </div>

  <div *ngIf="!error && !success && status === 'active'" class="content" role="main" [ngStyle]="{'display': session? 'flex': 'none'}">

    <h3>Welcome to this Qlik workshop session</h3>

    <h4 style="margin-top:0px;">
      Let's get you started! please, fill the form and press 'Submit' button.
    </h4>


    <div class="color-form" style="display: grid;gap: 40px; margin-top: 40px;">
      <div id="myform" class="needs-validation color-search" autocomplete="off" style="grid-row: 1;">
        <p for="session">
          About this session:
        </p>
        <div *ngIf="session">
          <b>{{session.template.title}}: {{session.description}}</b>
          <div [innerHTML]="session.template.publicDescription"></div>
        </div>
        <br>

        <p for="email">
          Your email:
        </p>
        <input mdbInput class="form-control" id="email" name="email" [(ngModel)]="email" required="required" type="email" placeholder="name@company.com"
          style="width:300px" />
        <div *ngIf="invalidemail" id="invalidemail" class="lui-text-danger" style="font-weight:bold;">
          Email not allowed, please try again.
        </div>
        <br>
        <div id="captcha" style="height: 50px">
          <canvas #myCanvas></canvas>
        </div>
        <input  mdbInput class="form-control" [(ngModel)]="captcha" type="text"  placeholder="Enter captcha" id="cpatchaTextBox" style="width:150px"
          required="required" />

        <!-- If the user submits a value through the form 
               it'll be passed to the server in the request body  -->

        <div *ngIf="invalidcaptcha" id="invalidcaptcha" class="lui-text-danger" style="font-weight:bold;">
          Invalid captcha, please try again.
        </div>
        <br>
        <button *ngIf="!wait" id="submitbtn" class="btn" type="button" (click)="submitForm()">Submit</button>

        <div id="spinner" *ngIf="wait">
          <span style="color:#009845 ">Please wait...</span>
          <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>

      </div>

      <div class="yourClass" style="grid-row: 1;">
        <img id="qrcode" style="width:100%;max-width: 1000px"
          [src]="qrCodeUrl">
        <div style="text-align:center">
          <i id="qrcode-caption">{{sessionName}}</i>
        </div>
      </div>


    </div>
  </div>
</div>
