body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg);
    background: #006580;
  }
  
  .qlikLogo {
    width: 180px;
  }
  
  /* Page structure */
.wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    /*place-items: center;
    border: 5px solid #006580;*/
    max-width: 1000px;
    
    margin: 40px auto;
    background: white;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    place-items: center;
    margin: 20px;
  }
  
  /* Title h1 style */
  .title {
    color: #61a729;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 105%;
    margin: 2rem 0 0;
  }


  canvas{
    /*prevent interaction with the canvas*/
    pointer-events:none;
  }
  
  .btn {
      display: inline-block;
      position: relative;
      margin: 0;
      padding: 15px 24px 17px;
      box-sizing: border-box;
      background: #009845;
      font-family: SourceSansPro,helvetica neue,Helvetica,Arial,lucida grande,sans-serif;
      color: #fff;
      font-size: 19px;
      font-size: 1.0556rem;
      line-height: 19px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      letter-spacing: .25px;
      cursor: pointer;
      border: 1px solid #009845;
      border-radius: 0;
      transition: background .2s ease-in-out,color .2s ease-in-out,border .2s ease-in-out;
      -webkit-appearance: none;
  }
  
  
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    margin: 4px;
    border: 4px solid #009845;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #009845 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .lui-select {
    height: 38px !important;
    font-size: 16px;
  }
  
  
  .lui-input {
    height: 38px !important;
    font-size: 16px;
  }
  
  @media screen and (max-width: 700px) {
    .yourClass {
        display: none !important;
    }
    .wrapper {
      margin: 0px auto;
    }
  }