

<p style="margin-top: 70px;text-align: right;">
    <a class="lui-text-info" href="/dockerlogs/" target="_blank"><i class="fas fa-long-arrow-alt-right"></i> Backend Logs (internal)</a>
</p>

<ul  class="nav nav-pills nav-fill">
    <li style="border: 1px solid #009845;" *ngFor="let item of sections; let i = index" class="nav-item">
        <a style="border-radius: 0px;" class="nav-link" (click)="tabSelect($event, item)" [ngClass]="{'active': tab === item}">{{item}}</a>
    </li>
</ul>

<div *ngIf="tab === 'scenarios'">
    <table-scenarios></table-scenarios>
</div>
<div *ngIf="tab === 'scenario-deploy-opts'">
     <table-subscriptions></table-subscriptions>
</div>
<div *ngIf="tab === 'provisions'">
    <table-provisions></table-provisions>
</div>
<div *ngIf="tab === 'users'">
    <table-users></table-users>
</div>
<div *ngIf="tab === 'notifications'">
   <table-notifications></table-notifications>
</div>
<div *ngIf="tab === 'api-keys'">
     <table-apikeys></table-apikeys>
</div>

<div *ngIf="tab === 'vm-types'">
     <table-vmtypes></table-vmtypes>
</div>

<div *ngIf="tab === 'sessions'">
     <table-sessions></table-sessions>
</div>

<div *ngIf="tab === 'webhooks'">
    <table-webhooks></table-webhooks>
</div>
