<div style="margin-top: 80px;">
    <qmi-mainalert></qmi-mainalert>
    <h1>Scenarios</h1>
    <app-scenarios (onStartProvision)="onStartProvision($event)"></app-scenarios>  
</div>
<qmi-alert></qmi-alert>