<br>
<mdb-checkbox [inline]="true" [checked]="true" [default]="true" [(ngModel)]="filter.active" (change)="onCheckValue()">Show terminated sessions</mdb-checkbox>
<div class="md-form">
    <input type="text" class="form-control w-25" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input2"
            mdbInput>
    <label for="search-input2">Search</label>
</div>
<div>
    <span style="padding-right: 20px" *ngIf="elements && elements.length">Total: {{elements.length}}</span>
    <button style="margin: 10px 0px;" *ngIf="loading" mdbBtn color="grey" outline="true" type="button" size="sm" disabled mdbWavesEffect>
        <span>Refreshing...</span>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
    <button style="margin: 10px 0px;" *ngIf="!loading" (click)="refreshData();" mdbBtn type="button" size="sm" color="grey" outline="true" mdbWavesEffect>
        Refresh <mdb-icon fas icon="sync" class="ml-1" ></mdb-icon>
    </button>
</div>
<table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" class="z-depth-1 table table-sm">
    <thead class="sticky-top">
        <tr>
            <th style="width: 215px;">ID</th>
            <th>Created</th>
            <th>User</th> 
            <th>Template</th>
            <th>Description</th> 
            <th>Tenant</th> 
            <th>CloudShare</th>   
            <th>Status</th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of elements; let i = index">
            <td scope="row" *ngIf="pagingIsDisabled || (i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex)"> 
                <a style="padding-right: 10px;" mdbTooltip="Open registration site" target="_blank" href="/training/session/{{item._id}}/public" class="lui-text-info">{{ item._id }}</a>
                
            </td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                scope="row">{{item.created | date: 'MMM dd, yyyy - H:mm'}}</td>  
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{item.user.displayName}}</td> 
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{item.template.title}}</td> 
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{item.description}}</td> 
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{item.qcsTenantHost}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{item.cloudshareClass}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                <span style="text-transform: capitalize;" class="badge" [ngClass]="{'badge-warning': item.status.indexOf('inactive') !== -1, 'badge-secondary': item.status.indexOf('terminated') !== -1, 'badge-success': item.status.indexOf('active') !== -1}">
                    {{item.status.replace("warning", "")}}
                </span>
            </td>      
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                <button mdbTooltip="Registered students" style="margin-right: 2px;" class="lui-button" (click)="infoSession(item)">
                    <span class="fa fa-users" aria-hidden="true"></span> <span style="margin-left: 5px; font-weight: 200;">({{item.studentsCount}})</span>
                </button>
                <button *ngIf="item.status !== 'terminated'" title="Edit" (click)="editSession(item)" class="lui-button">
                    <span class="lui-icon lui-icon--edit" aria-hidden="true"></span>
                </button>
                <button *ngIf="item.status !== 'terminated'" style="margin-right: 3px;" title="Terminate" (click)="openConfirmDeleteModal(item)" class="lui-button lui-text-danger">
                    <span class="lui-icon lui-icon--bin" aria-hidden="true"></span>
                </button>

            </td> 
        </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
        <tr>
            <td colspan="9">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
            </td>
        </tr>
    </tfoot>
</table>
