<div class="md-form">
    <input type="text" class="form-control w-25" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input2"
            mdbInput>
    <label for="search-input2">Search</label>
</div>
<div>
    <span style="padding-right: 20px" *ngIf="elements && elements.length">Total: {{elements.length}}</span>
    <button style="margin: 10px 0px" mdbBtn color="dark-green" outline="true" size="sm" class="waves-effect" mdbWavesEffect (click)="openNewWebhookModal(null);">Add +</button>
</div>
<table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" class="z-depth-1 table table-sm">
    <thead class="sticky-top">
        <tr>
            <th style="width: 155px;">Created</th>
            <!--<th>Owner</th>-->
            <th>Name</th> 
            <th>Event</th>
            <th>Scenario</th> 
            <th>Url</th> 
            <!--<th>Headers</th>-->
            <th>Last Execution</th>
            <th>Is Enabled?</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of elements; let i = index">
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                scope="row">{{item.created | date: 'MMM dd, yyyy - H:mm'}}</td>  
            <!--<td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{item.owner.displayName}}</td>-->
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{item.name}}</td> 
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{item.eventType}}</td> 
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{item.scenario || 'ALL'}}</td> 
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{item.url}}</td> 
            <!--<td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><pre>{{item.headers | json}}</pre></td> -->
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{item.lastExecTs | date: 'MMM dd, yyyy - H:mm'}}</td>
            <td mdbTooltip="isWafPolicyAppGw?" style="width: 34px; text-align: center;" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><mdb-icon *ngIf="item.isEnabled" fas icon="check"></mdb-icon></td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                <button title="Edit" (click)="openNewWebhookModal(item)" class="lui-button">
                    <span class="lui-icon lui-icon--edit" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot class="lighten-9 w-100">
        <tr>
            <td colspan="9">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
            </td>
        </tr>
    </tfoot>
</table>
