.table td, .table th {
    vertical-align: middle;
    max-height: 100px;
    
    &.tdflow {
        max-width: 200px;
        white-space: pre;
        overflow: auto;
        text-overflow: clip;
    }
}

pre {
    word-break: break-all;
    word-wrap: break-word;
    max-width: 400px;
    max-height: 200px;
}