.modal-popover {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    .lui-popover {
        max-width: 700px;
    }
    .popover-content {
        position: relative;
        top: 10%;
    }
    .lui-popover__body {
        font-size: 14px;
        max-height: 600px;
        overflow: auto;
    }
}

.qmiflag {
    width: 25px; 
    border-radius: 2px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px 0.5px;
}

.table tr:hover {
    cursor: pointer;
}

.table td {
    vertical-align: middle;
}

.linethrough {
    text-decoration: line-through;
}

.destr {
    background: rgba(255,0,0,0.1);
}