<div style="margin-top: 80px;">
    <h1>Cost Analysis</h1>
    <p>
        Cost dataset with history data from <b>June 2021 (Azure)</b> and <b>January 2022 (AWS)</b>. Updated on daily basis.

    </p>  
    <p>
        Qlik app <a href="https://innovation.us.qlikcloud.com/sense/app/477a7c47-3326-427b-9cef-43f5db3787a0/sheet/6251148f-b574-4363-a33f-1f67306e128e/state/analysis" target="_blank">here</a>.
    </p> 
    <!--
    <iframe id="cost-analysis" *ngIf="qcsSheetUrl" class="cost-analysis" [src]="qcsSheetUrl" width="100%" height="1000px"></iframe>

    -->

    <div style="width:100%; height: 50px">
        <qlik-embed
            ui="selections"
            app-id="477a7c47-3326-427b-9cef-43f5db3787a0"
            ></qlik-embed>
    </div>
    <div style="width: 100%; height:1000px;overflow: auto;">
        <qlik-embed
            ui="analytics/sheet"
            app-id="477a7c47-3326-427b-9cef-43f5db3787a0"
            object-id="6251148f-b574-4363-a33f-1f67306e128e"
            >
        </qlik-embed>
    </div>
</div>