.revVar {
    display: flex; 
    height: 50px; 
    background-color: rgb(84, 86, 90); 
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0.2rem 0.6rem 0;
   

    .revVar-item {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #aaa;
        flex-grow: 1; 
        text-align: center;
        line-height: 35px;
        text-transform: uppercase;

        &.active {
            border-bottom: 5px solid rgb(0, 152, 69);
            color: white;
            
        }
    }
}