<app-header *ngIf="header"></app-header>

<div class="revVar" *ngIf="revision">
  <a *ngIf="user" class="revVar-item nav-item nav-link" routerLink="/scenarios" routerLinkActive="active">SCENARIOS</a>
  <a *ngIf="user" class="revVar-item nav-item nav-link" routerLink="/provisions" routerLinkActive="active">MY PROVISIONS</a>
  <a *ngIf="user" class="revVar-item nav-item nav-link" routerLink="/sharedprovision" routerLinkActive="active" >SHARED PROVISIONS</a>
  <a *ngIf="checkFeature(user,'training')" class="revVar-item nav-item nav-link" routerLink="/training" routerLinkActive="active">TRAINING</a>
  <a *ngIf="user" class="revVar-item nav-item nav-link" routerLink="/cost-analysis" routerLinkActive="active">COST ANALYSIS</a>  
  <a *ngIf="user && (user.role === 'admin' || user.role === 'superadmin')" class="revVar-item nav-item nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
</div>

<div class="container-fluid">
  <ng-content></ng-content>
  <router-outlet></router-outlet>
</div>

<app-footer *ngIf="header"></app-footer>