i {
  color: #757575;
  font-size: 0.8em;  
}


.md-form input[type=text] {
    margin-bottom: 0px;
}

.md-form label {
    color: #3fa044;
 }
 
 .md-form label.active {
     color: #3fa044;
 }

 .md-form .form-control:disabled, 
 .md-form .form-control[readonly] {
    font-style: italic;
    opacity: 0.4;
}