<!--Content-->
<div class="modal-content">
    <div class="modal-header text-center">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold">
          <span *ngIf="session">Edit session #{{session._id}}</span>
          <span *ngIf="!session">Setup a new session</span>
          <br>
          <span style="font-size: 14px;font-style: normal;">Template: {{template.title}}</span>
        </h4>
    </div>
    <div class="modal-body" style="max-height: 550px; overflow: auto;">
        <div class="needs-validation">
  
          <section *ngIf="session && session._id" style="padding: 0px; margin: 0px 20px">
            <mdb-checkbox [default]="false" [checked]="sendData.status === 'active'" (change)="checkOnchangeStatus($event)">Is active</mdb-checkbox>
          </section>

          <div class="row">
            <div class="col-md-6">
              <div style="padding: 20px 0px;" class="md-form" id="owner">
                
                <select class="browser-default custom-select custom-select-sm" [(ngModel)]="selectedUser" [disabled]="currentUser.role !== 'admin' && currentUser.role !== 'superadmin'">
                  <option *ngFor="let item of users" [value]="item._id">{{item.displayName}}</option>
                </select>
                <label style="margin: -20px 0 0 0;" for="owner">Session owner/lead (*):</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <input mdbInput type="text" name="text" [(ngModel)]="sendData.description" id="name2" class="form-control" required>
                <label for="name2" class="">Short description (*):</label>
                <i>it's displayed on students registration site</i>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6">
              <div class="md-form" *ngIf="template.qcs">
                <input mdbInput type="text" name="text" [(ngModel)]="sendData.qcsTenantHost" id="version1" class="form-control" required>
                <label for="version1" class="">SaaS Tenant host (*):</label>
                <i>&lt;name&gt;.&lt;region&gt;.qlikcloud.com</i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form"  *ngIf="template.needQcsApiKey">
                <textarea mdbInput type="password" name="text" [(ngModel)]="sendData.qcsApiKey" id="title1" class="md-textarea form-control" required></textarea>
                <label for="title1" class="">SaaS Tenant API Key (*):</label>
                <i>From a TenantAdmin user</i>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="md-form" *ngIf="template.qcs">
                <input mdbInput type="text" name="text" [(ngModel)]="sendData.qcsSharedSpace" id="space1" class="form-control">
                <label for="space1" class="">Shared space:</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form"  *ngIf="template.qcs">
                <input mdbInput type="text" name="text" [(ngModel)]="sendData.qcsDataSpace" id="space2" class="form-control" >
                <label for="space2" class="">Data space:</label>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="session">   
            <div class="col-md-6">
              <div class="md-form" *ngIf="template.needQcsAutomation">
                <input mdbInput type="text" name="text" [(ngModel)]="sendData.qaUrl" id="version3" class="form-control" readonly>
                <label for="version3" class="">Qlik Automation URL:</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form" *ngIf="template.needQcsAutomation">
                <input mdbInput type="text" name="text" [(ngModel)]="sendData.qaToken" id="version2" class="form-control" readonly>
                <label for="version2" class="">Qlik Automation Execution Token:</label>
              </div>
            </div>
          </div>   
          

          
          
          
          <div class="md-form"  *ngIf="template.cloudshare">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.cloudshareClass" id="title2" class="form-control" required>
            <label for="title2" class="">CloudShare ClassID*:</label>
          </div>

          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.studentEmailFilter" id="allowedemails" class="form-control">
            <label for="allowedemails" class="">Student email filter:</label>
            <i>Comma separated allowed email domains, ie: qlik.com,talend.com,gmail.com. Leave empty to allow all emails.</i>
          </div>
         
          
        </div>
    </div>
    
    <div class="modal-footer d-flex justify-content-center">
      <button style="margin-right: 100px;" *ngIf="sendData._id" mdbBtn color="danger" outline="true" class="waves-light" size="sm" mdbWavesEffect (click)="delete();">Delete</button>
      <button mdbBtn color="dark-green" size="sm" outline="true" class="waves-effect" mdbWavesEffect (click)="modalRef.hide()">Cancel</button>
      <button mdbBtn color="dark-green" class="waves-light" size="sm" mdbWavesEffect (click)="confirm();">Save</button>
    </div>
</div>
<!--/.Content-->