<!--Content-->
<div class="modal-content">
    <div class="modal-header text-center">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold">
          <span>{{session.description}}</span>
          <br>
          <span style="font-size: 14px;font-style: normal;">Template: {{session.template.title}}</span>
        </h4>
    </div>
    <div class="modal-body" style="max-height: 550px; overflow: auto;">
        <div>
  
          
          <table *ngIf="students" class="table table-sm">
            <thead>
              <tr>
                <th>Reg. Date</th>
                <th>Email</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of students; let i = index">
                <td style="min-width: 120px">
                  {{ item.created | date: "MMM dd, yyyy - H:mm" }}
                </td>
                <td>{{item.email}}</td>
            
                <td>{{ item.status }}</td>
              </tr>
            </tbody>
          </table>
         
          
        </div>
    </div>
    
    <!--<div class="modal-footer d-flex justify-content-center">
      <button style="margin-right: 100px;" *ngIf="sendData._id" mdbBtn color="danger" outline="true" class="waves-light" size="sm" mdbWavesEffect (click)="delete();">Delete</button>
      <button mdbBtn color="dark-green" size="sm" outline="true" class="waves-effect" mdbWavesEffect (click)="modalRef.hide()">Cancel</button>
      <button mdbBtn color="dark-green" class="waves-light" size="sm" mdbWavesEffect (click)="confirm();">Save</button>
    </div>-->
</div>
<!--/.Content-->