<div style="margin-top: 80px; min-height: 650px;">
    <h1>Training Sessions</h1>
    
    <p>This section helps you create and setup Training Sessions (handson workshops) based on the following topic templates, that you can easily deliver to your customers, prospects or partners.</p>
    
    <h3>Templates</h3>
    <div class="flexcontainer" *ngIf="templates">

        <mdb-card class="qmicard" *ngFor="let s of templates;">
          <!--Card content-->
          
          <mdb-card-header>
      
            <!--Title-->
            <mdb-card-title>
              <h4 [innerHTML]="s.title"></h4>
              <div>
                <span style="margin-right: 5px;" *ngFor="let tag of s.labels" class="badge badge-secondary">{{tag}}</span>
              </div>
            </mdb-card-title>
      
          </mdb-card-header>
          
          <mdb-card-body style="position: relative;">
            
            <!--Text-->
            <mdb-card-text class="qmicardtext"> 
              <div [innerHTML]="s.description"></div>
            </mdb-card-text>
      
            <div *ngIf="s.supportEmails" class="support">
              <i>Support: {{s.supportEmails}}</i>
            </div>
           
          </mdb-card-body>
          <mdb-card-footer>
            <button mdbBtn mdbTooltip="New session" type="button" [disabled]="disabledNewSessions" style="margin-top: 5px;" block="true" size="sm" color="dark-green" (click)="newSession(s, null)" mdbWavesEffect>New session</button>
          </mdb-card-footer>
        </mdb-card>
    </div> 

    <h3>Sessions I own/lead</h3>

    <div *ngIf="sessions" class="flexcontainer">
        <div *ngFor="let s of sessions" class="box"> 
          
            <div class="title desc {{ s.status }}">
                <div mdbTooltip="subititle" class="subtitle">{{s.description}}</div>
            </div>
            <div style="border-top: 1px dashed #fff;" class="title {{ s.status }}">
                Template: <i class="maintitle">{{s.template.title}}</i>
            </div>
            <div class="contentbox">          
                
                <div *ngIf="s.status">
                  <b>Status:</b> <span
                  style="text-transform: capitalize; margin-left: 10px;"
                  class="badge badge-secondary"
                  [ngClass]="{
                    'badge-success': s.status === 'active',
                    'badge-warning':
                      s.status === 'inactive' }"
                  >{{ s.status }}</span
                >
                </div>
                <div *ngIf="s.template.qcs"><b>Tenant:</b><br><a href="https://{{s.qcsTenantHost}}" target="_blank">https://{{s.qcsTenantHost}}</a></div>
                <div *ngIf="s.template.qcs"><b>Spaces:</b><br><span *ngIf="s.qcsSharedSpace">{{s.qcsSharedSpace}} (shared) ; </span> <span *ngIf="s.qcsDataSpace">{{s.qcsDataSpace}} (data)</span></div>
                <div *ngIf="s.template.cloudshare"><b>CloudShare ClassID:</b><br>{{s.cloudshareClass}}</div>
                <div *ngIf="s.template.needQcsAutomation">
                  <b>Qlik Automations</b><br>
                  <span *ngIf="s.qaUrl && s.qaToken" class="text-success">OK <span class="fa fa-check"></span></span>
                  <span *ngIf="!s.qaUrl || !s.qaToken" class="text-danger">NOK, please set <span class="fa fa-close"></span></span>
                </div>
                <div *ngIf="s.template.needQcsApiKey">
                  <b>Tenant API Key</b><br>
                  <span *ngIf="s.qcsApiKey" class="text-success">OK <span class="fa fa-check"></span></span>
                  <span *ngIf="!s.qcsApiKey" class="text-danger">NOK, please set <span class="fa fa-close text-danger"></span></span>
                </div>     
            </div>
            <div class="buttons">
                <a target="_blank" href="/training/session/{{s._id}}/public" mdbTooltip="Open students registration site">
                  <button style="margin-right: 2px;" class="lui-button">
                    <i class="fas fa-external-link-alt"></i>
                  </button>
                </a>
                <button mdbTooltip="Registered students" style="margin-right: 2px;" class="lui-button" (click)="infoSession(s)">
                  <span class="fa fa-users" aria-hidden="true"></span> <span style="margin-left: 5px; font-weight: 200;">({{s.studentsCount}})</span>
                </button>
                <button mdbTooltip="Edit sessin" style="margin-right: 2px; float: right;" class="lui-button" (click)="newSession(s.template, s)">
                  <span class="lui-icon lui-icon--edit" aria-hidden="true"></span>
                </button>


                
            </div>
        </div>
    </div>
    
</div>