h1 {
    font-weight: 200;
    color: #19426c;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    justify-content: center;

    .qmicard {
        margin-bottom: 20px;
        margin-right: 20px;
        position: relative;
        max-width: 525px;

        .card-badge {
            position: absolute;
            bottom: 5px;
            right: 15px;
        }
        
        .card-body {
            padding:10px 15px;
        }
        
        .card-icon {
            margin-left: 5px;
            cursor: pointer;
        }
        .card-header {
            padding: 10px 15px;
            border-bottom: none;
            position: relative;
        }
        
        .card-footer {
            padding:10px 15px;
            background-color: #fff;
            border-top: none;
        }
    }

    .box {
        border: 1px rgb(64, 64, 64);
        /*flex-grow: 1;*/
        min-height: 100px;
        /*width: 340px;*/
        margin-bottom: 20px;
        margin-right: 20px;
        max-width: 400px;
        min-width: 300px;
        position: relative;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

        .title {
            &.desc {
                height: 42px;
                max-height: 42px;
                min-height: 42px;
            }
            padding: 10px;
            min-height: 46px;
            background: #54565A;
            color: white;
            .maintitle {
                //font-weight: bold;
                font-size: 14px;
            }
            .subtitle {
                font-weight: bold;
                font-size: 16px;
                text-overflow: ellipsis;
                /* Required for text-overflow to do anything */
                white-space: nowrap;
                overflow: hidden;    
            }

            &.inactive {
                background: #ffc72a;
                color: #595959;
            }
    
            &.active {
                background: #009845;

            }
            &.terminated {
                background: #E7004C;
            }

        }  

        .contentbox {
            font-size: 12px;
            padding: 10px;
            min-height: 250px;
            &.destroyed {
                min-height: 100px;
            }
        }

        .buttons {
            padding: 10px;
            width: 100%;
            position: absolute;
            bottom: 0px;
            .compact {
                width: calc(80% - 5px);
                margin-right: 5px;
            }
        }        
    }
}