/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~leonardo-ui/dist/leonardo-ui.css";

@font-face { 
    font-family: "Inter"; 
    src: url("assets/inter-font/Inter-Regular.ttf");
    font-weight: normal; 
    font-style: normal; 
} 

* { 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
    height: 6px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*
p.card-text.qmicardtext {
    max-height: 350px;
    overflow:scroll;
}*/

.alert-dark .alert-link {
    text-decoration: underline;
}

body {
    font-family: "Inter" !important;
    /*color: #162a4b !important;*/
    color: #444 !important;
    font-size: inherit !important;
    background: #fafafa !important;
}

@font-face {
    font-family: "LUI icons";
    src: url(~leonardo-ui/dist/lui-icons.woff) format('woff'),
       url(~leonardo-ui/dist/lui-icons.ttf) format('truetype');
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link.active {
    color: #009845 !important;
    font-weight: bold;
}

.modal-dialog.modal-notify.modal-info {
    .modal-header {
        background-color: #616161 !important;
    }
    .fas {
        color: #616161 !important;
    }
}

.modal-dialog.modal-lg {
    max-width: 80%;
}
//@import "assets/album.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.btn.btn-link {
    padding: 0 !important;
    margin: 0 !important;
}

.ngb-tp-meridian .btn {
    padding: 5px 10px;
}

.ngb-tp-input-container {
    width: 5em !important;
}


.lui-button {
    //color: #444;
    border-color: #ccc;
}

.table {
    background-color: #fff;
}
