<div style="margin-top: 80px; min-height: 650px; text-align: center;">


    <h3 class="lui-text-warning" style="padding-top: 40px;"><span class="lui-icon lui-icon--warning-triangle" aria-hidden="true" style="font-size: 1em"></span> Oops! Error while authenticating</h3>  
    <p>Please, contact your Administrator for support.</p>      
    

</div>